openapi: 3.2.0
info:
  title: Storefront V1 API Specification Menu V2 API
  version: 1.0.0
  contact:
    name: Storefront API Support
    email: storefront-api-support@doordash.com
servers:
- url: https://openapi.doordash.com
  variables: {}
security:
- BearerAuth: []
tags:
- name: Menu V2
paths:
  /storefront/api/v1/stores/{store_id}/v2/menu:
    post:
      tags:
      - Menu V2
      summary: Get store menu v2
      operationId: GetStoreMenuV2
      parameters:
      - $ref: '#/components/parameters/StoreId'
      requestBody:
        description: request body which should contain store id
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetStoreMenuV2Request'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStoreMenuV2Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationFieldError'
        '401':
          description: Request not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationError'
        '403':
          description: Operation not authorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationError'
        '404':
          description: Request resources not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResourceNotFoundError'
        '429':
          description: Rate limited
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitedError'
        '500':
          description: Internal service failure, please try again later
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      deprecated: false
components:
  schemas:
    FulfillmentType:
      type: string
      enum:
      - delivery
      - pickup
      example: pickup
    RateLimitedError:
      x-error: true
      title: RateLimitedError
      type: object
      description: Rate limited.
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - rate_limit_error
        message:
          type: string
          example: Developer account endpoint rate limit exceeded.
    IntegrationId:
      type: string
      pattern: ^([1-9][0-9]*)$
      description: Unique ID for the business, business group or store.
      example: '987654'
    SessionId:
      type: string
      description: id of the application session
    Business:
      type: object
      title: Business
      description: Business Info
      properties:
        id:
          type: string
        name:
          type: string
        differential_pricing_enabled:
          type: boolean
    AuthenticationError:
      x-error: true
      type: object
      description: Authorization error, available credentials don't match requested operation
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - authentication_error
        message:
          type: string
          example: Request does not contain a JWT.
    StoreHeader:
      type: object
      title: StoreHeader
      description: StoreHeader
      properties:
        business:
          $ref: '#/components/schemas/Business'
    GetStoreMenuV2Request:
      type: object
      required:
      - integration_id
      - integration_type
      properties:
        integration_id:
          $ref: '#/components/schemas/IntegrationId'
        integration_type:
          $ref: '#/components/schemas/IntegrationType'
        session_id:
          $ref: '#/components/schemas/SessionId'
        menu_id:
          type: string
        fulfillment_type:
          $ref: '#/components/schemas/FulfillmentType'
        country_code:
          $ref: '#/components/schemas/CountryCode'
    AddressResourceNotFoundError:
      x-error: true
      title: AddressResourceNotFoundError
      type: object
      description: The response returned when requested resource is not found/available.
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - not_found
        message:
          type: string
          example: Address is not found.
    StoreId:
      type: string
      pattern: ^([1-9][0-9]*)$
      description: Unique ID for the store.
      example: '123'
    CountryCode:
      type: string
      pattern: ^[A-Z]{2}$
      description: Country code in ISO 3166-1 alpha-2 format
      example: US
    InternalError:
      x-error: true
      title: InternalError
      type: object
      description: Internal errors that occur during the api call.
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - internal_service_error
        message:
          type: string
          example: Internal Service Error.
    GetStoreMenuV2Response:
      type: object
      title: GetStoreMenuV2Response
      description: Store menu v2
      properties:
        store_header:
          $ref: '#/components/schemas/StoreHeader'
        primary_menu:
          $ref: '#/components/schemas/PrimaryMenu'
    PrimaryMenu:
      type: object
      title: PrimaryMenu
      description: The default menu to be shown on the store page
    AuthorizationError:
      x-error: true
      type: object
      description: Authorization error, available credentials don't match requested operation
      required:
      - code
      - message
      properties:
        code:
          type: string
          enum:
          - authorization_error
        message:
          type: string
          example: You are not authorized to perform this action.
    ValidationFieldError:
      x-error: true
      title: ValidationFieldError
      type: object
      description: The response returned when validation for field errors are encountered.
      required:
      - code
      - message
      - field_errors
      properties:
        code:
          type: string
          enum:
          - validation_error
        message:
          type: string
          example: Request validation failed.
        errors:
          type: string
          example: Missing business/store id.
    IntegrationType:
      type: string
      enum:
      - BUSINESS
      - BUSINESS_GROUP
      - STORE
      example: store
      default: business
      description: Type of the integration id
  parameters:
    StoreId:
      name: store_id
      in: path
      description: Store id
      required: true
      schema:
        $ref: '#/components/schemas/StoreId'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
