openapi: 3.2.0
info:
  version: 1.0.29
  title: DoorDash Ads Menu API
  description: DoorDash Ads API for Sponsored Products for campaign management and reporting operations.
servers:
- url: https://openapi.doordash.com
security:
- Ads API Key Authentication: []
tags:
- name: Menu
paths:
  /ads/api/v1/menu/labels:
    get:
      summary: Get dish labels
      description: Get available dish labels available for interest targeting
      tags:
      - Menu
      responses:
        '200':
          description: Dish Labels retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DishLabelResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      operationId: getAdsApiV1MenuLabels
      x-operation-id-source: derived
components:
  schemas:
    Error:
      properties:
        code:
          description: An enumerated error for machine use.
          type: string
          readOnly: true
        details:
          description: A human-readable description of the error.
          type: string
          readOnly: true
    DishLabelResponse:
      type: object
      required:
      - name
      - type
      - children
      properties:
        name:
          type: string
          description: Name of the menu label
        type:
          type: string
          enum:
          - DISH
          description: Type of label
        description:
          type: string
          description: Description for the label
        children:
          type: array
          items:
            $ref: '#/components/schemas/DishLabelResponse'
      example:
        name: Main Dishes
        type: DISH
        children:
        - name: Burgers
          type: DISH
          description: Some description
        - name: Pizza
          type: Dish
  responses:
    Unauthorized:
      description: Unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: One or more query parameters contained an invalid value.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    Ads_API_Key_Authentication:
      type: apiKey
      scheme: bearer
      in: header
      name: Authorization
      description: We will be using stateful token based API keys to authenticate clients, passed in the 'Authorization' header as 'Bearer {API_KEY}'.
