openapi: 3.2.0
info:
  title: DoorDash Item Management Inventory API
  description: The DoorDash Item Management API enables merchants and integration partners to programmatically manage their item catalogs, inventory levels, pricing, and promotions on the DoorDash platform.
  version: '2.0'
  contact:
    name: DoorDash Developer Support
    url: https://developer.doordash.com/en-US/
  termsOfService: https://www.doordash.com/terms/
servers:
- url: https://openapi.doordash.com/marketplace/api/v2
  description: Production Server
security:
- bearerAuth: []
tags:
- name: Inventory
  description: Manage store-level inventory, pricing, and other in-store attributes for items on the DoorDash platform.
paths:
  /stores/{store_location_id}/items:
    post:
      operationId: createStoreInventory
      summary: DoorDash Add Inventory and Pricing for Items at a Store
      description: Adds inventory, pricing, and other in-store attributes for items at a specific store location. Items must already exist in the catalog before inventory can be set at the store level.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/StoreLocationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreItemsRequest'
            examples:
              CreateStoreInventoryRequestExample:
                summary: Default createStoreInventory request
                x-microcks-default: true
                value:
                  items:
                  - merchant_supplied_id: {}
                    price: {}
                    in_stock: {}
                    quantity_on_hand: {}
                    aisle: {}
                    shelf: {}
      responses:
        '200':
          description: Store inventory created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItemsResponse'
              examples:
                CreateStoreInventory200Example:
                  summary: Default createStoreInventory 200 response
                  x-microcks-default: true
                  value:
                    status: active
                    items_processed: 42
                    errors:
                    - merchant_supplied_id: {}
                      message: {}
                      code: {}
        '400':
          description: Invalid inventory data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateStoreInventory400Example:
                  summary: Default createStoreInventory 400 response
                  x-microcks-default: true
                  value:
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateStoreInventory401Example:
                  summary: Default createStoreInventory 401 response
                  x-microcks-default: true
                  value:
                    message: example
                    code: ABC123
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateStoreInventory404Example:
                  summary: Default createStoreInventory 404 response
                  x-microcks-default: true
                  value:
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateStoreInventory
      summary: DoorDash Update Inventory and Pricing for Items at a Store
      description: Updates inventory, pricing, and other in-store attributes for existing items at a specific store location. Changes are typically reflected within minutes.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/StoreLocationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreItemsRequest'
            examples:
              UpdateStoreInventoryRequestExample:
                summary: Default updateStoreInventory request
                x-microcks-default: true
                value:
                  items:
                  - merchant_supplied_id: {}
                    price: {}
                    in_stock: {}
                    quantity_on_hand: {}
                    aisle: {}
                    shelf: {}
      responses:
        '200':
          description: Store inventory updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItemsResponse'
              examples:
                UpdateStoreInventory200Example:
                  summary: Default updateStoreInventory 200 response
                  x-microcks-default: true
                  value:
                    status: active
                    items_processed: 42
                    errors:
                    - merchant_supplied_id: {}
                      message: {}
                      code: {}
        '400':
          description: Invalid inventory data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateStoreInventory400Example:
                  summary: Default updateStoreInventory 400 response
                  x-microcks-default: true
                  value:
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateStoreInventory401Example:
                  summary: Default updateStoreInventory 401 response
                  x-microcks-default: true
                  value:
                    message: example
                    code: ABC123
        '404':
          description: Store not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateStoreInventory404Example:
                  summary: Default updateStoreInventory 404 response
                  x-microcks-default: true
                  value:
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    StoreLocationId:
      name: store_location_id
      in: path
      required: true
      description: The unique identifier for the store location.
      schema:
        type: string
  schemas:
    ItemError:
      type: object
      properties:
        merchant_supplied_id:
          type: string
          description: The item identifier that had an error.
          example: D-12345
        message:
          type: string
          description: The error message.
          example: example
        code:
          type: string
          description: A machine-readable error code.
          example: ABC123
    StoreItemsRequest:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          description: The store-level item inventory and pricing data.
          items:
            $ref: '#/components/schemas/StoreItem'
    Error:
      type: object
      properties:
        message:
          type: string
          description: A human-readable error message.
          example: example
        code:
          type: string
          description: A machine-readable error code.
          example: ABC123
    StoreItemsResponse:
      type: object
      properties:
        status:
          type: string
          description: The processing status of the request.
          example: active
        items_processed:
          type: integer
          description: The number of items processed.
          example: 42
        errors:
          type: array
          description: Any errors encountered during processing.
          items:
            $ref: '#/components/schemas/ItemError'
    StoreItem:
      type: object
      required:
      - merchant_supplied_id
      properties:
        merchant_supplied_id:
          type: string
          description: The unique merchant-supplied item identifier.
          example: D-12345
        price:
          type: integer
          description: The item price in cents at this store.
          example: 42
        in_stock:
          type: boolean
          description: Whether the item is currently in stock at this store.
          example: true
        quantity_on_hand:
          type: integer
          description: The current quantity available at this store.
          minimum: 0
          example: 0
        aisle:
          type: string
          description: The aisle location of the item in the store.
          example: example
        shelf:
          type: string
          description: The shelf location of the item in the store.
          example: example
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token for authenticating with the DoorDash Item Management API.
externalDocs:
  description: DoorDash Item Management API Documentation
  url: https://developer.doordash.com/en-US/api/marketplace_v2/
