openapi: 3.0.0
info:
  title: Drive (classic) API Specification
  x-logo:
    url: >-
      https://doordash-static.s3-us-west-2.amazonaws.com/media/drive/drive-logo.png
    backgroundColor: '#FFFFFF'
    altText: Doordash Drive
    href: https://www.doordash.com/drive/portal/discover
  version: 0.4.8
  description: null
servers:
  - url: https://openapi.doordash.com
    variables: {}
tags:
  - name: Delivery
    x-displayName: Delivery
  - name: Business & Store
    x-displayName: Business & Store
paths:
  /drive/v1/estimates:
    post:
      summary: Delivery Estimate
      tags:
        - Delivery
      description: >-
        Request time and fee estimates for the delivery. The Estimates API can
        also be used to check if an area is serviced.
      operationId: DeliveryEstimatePost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              required:
                - dropoff_address
                - order_value
              type: object
              properties:
                pickup_address:
                  $ref: '#/components/schemas/PickupAddress'
                dropoff_address:
                  $ref: '#/components/schemas/DropoffAddress'
                order_value:
                  minimum: 0
                  type: integer
                  description: >-
                    The subtotal for all items in the order, excluding tax/tip,
                    in cents. i.e. $19.99 = 1999
                  format: int32
                  example: 1999
                delivery_time:
                  type: string
                  description: >-
                    The requested UTC date-time (in ISO-8601 format) at which
                    the order should be delivered. If this field is specified,
                    `pickup_time` cannot be specified.Must provide either a
                    `pickup_time` or a `delivery_time` to pass validation.
                  example: '2018-08-22T17:21:28Z'
                pickup_time:
                  type: string
                  description: >-
                    The requested UTC date-time (in ISO-8601 format) at which
                    the order should be picked up. If this field is specified,
                    `delivery_time` cannot be specified. Must provide either a
                    `pickup_time` or a `delivery_time` to pass validation.
                  example: '2018-08-22T17:20:28Z'
                external_business_name:
                  type: string
                  description: >-
                    A name used to group stores under a particular owner. For
                    example, John Smith's Franchise Business. Required if
                    `pickup_address` object is not passed in. If
                    `external_business_name` is used, `external_store_id` is
                    required. Can't be used with `external_business_id`.
                  example: '1443432456'
                external_business_id:
                  type: string
                  pattern: /^[A-Za-z0-9_-]{3,64}$/
                  description: >-
                    An unique, caller-selected ID of the business. Required if
                    pickup_address object is not passed in. If
                    `external_business_id` is used, `external_store_id` is
                    required. Can't be used with `external_business_name`.
                  example: a0720d55-7cbe-41ce-8185-58285b7985cd
                external_store_id:
                  type: string
                  description: >-
                    A unique identifier, defined by you, which can be used to
                    track the specific store that the delivery is for. Required
                    if `pickup_address` object is not passed in. If
                    `external_store_id` is used, `external_business_name` is
                    required.
                  example: mega-corp-2340593
                promotion_id:
                  type: string
                  description: >-
                    The ID of the promotion that you want to apply to the
                    delivery. The quoted fee in the response will reflect the
                    promotion if this ID is valid. If the ID is invalid, field
                    error will be returned. Contact your account manager for any
                    configured promotion IDs.
                  example: ee680b87-0016-496e-ac3c-d3f33ab54c1c
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ItemRequest'
        required: true
        description: Request body for estimate endpoint
      responses:
        '200':
          description: Estimate returned for the delivery with the given parameters
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryEstimate'
        '400':
          description: Bad request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationFieldErrorResponse'
        5XX:
          description: >
            - Please retry all 50x response status codes as the error could be
            transient. We recommend up to 3 retries with some exponential
            backoff delay between requests.

            - When providing a time to any of the below APIs (i.e. `pickup_time`
            or `delivery_time`), the format must be UTC.'
      deprecated: false
  /drive/v1/validations:
    post:
      summary: Delivery Validation
      tags:
        - Delivery
      description: >-
        Validates input parameters for delivery and checks if the area is
        serviceable. DoorDash recommends using the Estimates API instead.
      operationId: DeliveryValidationPost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              required:
                - dropoff_address
                - customer
                - order_value
              type: object
              properties:
                pickup_address:
                  $ref: '#/components/schemas/PickupAddress'
                pickup_phone_number:
                  type: string
                  description: >-
                    The phone number for the Dasher to call, including country
                    code, if there are any issues with the pick up. The phone
                    number must be a valid phone number. Required unless your
                    request includes an `external_store_id` that you've already
                    used in at least one successful delivery request. If both
                    `pickup_phone_number` and `external_store_id` are included,
                    `pickup_phone_number` is ignored in favor of the existing
                    phone number associated with the store.
                  example: '+15555555555'
                pickup_instructions:
                  type: string
                  description: Instruction for the dasher for the pickup location.
                  example: Use the back alley of the store for pickup
                dropoff_address:
                  $ref: '#/components/schemas/DropoffAddress'
                customer:
                  $ref: '#/components/schemas/Customer'
                dropoff_instructions:
                  type: string
                  description: Instruction for the dasher for the drop off location.
                  example: Use the access code 420 to get into the building.
                order_value:
                  minimum: 0
                  type: integer
                  description: >-
                    The subtotal for all items in the order, excluding tax/tip,
                    in cents. i.e. $19.99 = 1999
                  format: int32
                  example: 1999
                tip:
                  type: integer
                  description: The amount to tip the Dasher in cents i.e. $5.00 = 500
                  format: int32
                  example: 500
                pickup_time:
                  type: string
                  description: >-
                    The requested UTC date-time (in ISO-8601 format) at which
                    the order should be picked up. If this field is specified,
                    `delivery_time` cannot be specified.
                  example: '2018-08-22T17:20:28Z'
                delivery_time:
                  type: string
                  description: >-
                    The requested UTC date-time (in ISO-8601 format) at which
                    the order should be delivered. If this field is specified,
                    `pickup_time` cannot be specified.
                  example: '2018-08-22T17:21:28Z'
                external_delivery_id:
                  type: string
                  description: >-
                    A unique identifier across all store locations under a
                    business, defined by the merchant, which can be used to
                    track this specific delivery.
                  example: 1342666-2420
                contains_alcohol:
                  type: boolean
                  description: >-
                    Set this to true if the order contains alcohol. Default
                    value is false.
                  example: true
                barcode_scanning_required:
                  type: boolean
                  description: >-
                    Set this to true if barcode scanning at both pickup and
                    dropoff is required to complete the delivery. Default value
                    is false.
                  example: true
                num_items:
                  type: integer
                  description: The total number of items in the order.
                  format: int32
                  example: 1
                external_business_name:
                  type: string
                  description: >-
                    A name used to group stores under a particular owner. For
                    example, John Smith's Franchise Business. Required if
                    `pickup_address` object is not passed in. If
                    `external_business_name` is used, `external_store_id` is
                    required. Can't be used with `external_business_id`.
                  example: '1443432456'
                external_business_id:
                  type: string
                  pattern: /^[A-Za-z0-9_-]{3,64}$/
                  description: >-
                    An unique, caller-selected ID of the business. Required if
                    pickup_address object is not passed in. If
                    `external_business_id` is used, `external_store_id` is
                    required. Can't be used with `external_business_name`.
                  example: a0720d55-7cbe-41ce-8185-58285b7985cd
                external_store_id:
                  type: string
                  description: >-
                    A unique identifier, defined by you, which can be used to
                    track the specific store that the delivery is for. Required
                    if `pickup_address` object is not passed in. If
                    `external_store_id` is used, `external_business_name` is
                    required.
                  example: mega-corp-2340593
                signature_required:
                  type: boolean
                  description: >-
                    Set this to true if signature is required. Default value is
                    false.
                  example: true
                promotion_id:
                  type: string
                  description: >-
                    The ID of the promotion that you want to apply to the
                    delivery. If the ID is invalid, field error will be
                    returned. Contact your account manager for any configured
                    promotion IDs.
                  example: ee680b87-0016-496e-ac3c-d3f33ab54c1c
                order_contains_list:
                  type: array
                  description: >-
                    An object that specifies the restricted item(s) contained in
                    this order. The values that can be specified are
                    'tobacco_items' (delivery contains tobacco items, requires
                    ID Verification), 'hemp_items' (delivery contains hemp
                    items, requires ID Verification), 'otc_items' (delivery
                    contains otc items, requires ID Verification)
                  enum:
                    - tobacco_items
                    - hemp_items
                    - otc_items
                  example:
                    - tobacco_items
                    - hemp_items
                    - otc_items
        required: true
      responses:
        '200':
          description: Validity of the delivery
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidDeliveryResponse'
        '400':
          description: Bad request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationFieldErrorResponse'
        5XX:
          description: >
            - Please retry all 50x response status codes as the error could be
            transient. We recommend up to 3 retries with some exponential
            backoff delay between requests.

            - When providing a time to any of the below APIs (i.e. `pickup_time`
            or `delivery_time`), the format must be UTC.'
      deprecated: false
  /drive/v1/deliveries:
    post:
      summary: Delivery Creation
      tags:
        - Delivery
      description: Create a delivery
      operationId: DeliveryListPost
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              required:
                - dropoff_address
                - customer
                - order_value
              type: object
              properties:
                pickup_address:
                  $ref: '#/components/schemas/CreationPickupAddress'
                pickup_phone_number:
                  type: string
                  description: >-
                    The phone number for the Dasher to call, including country
                    code, if there are any issues with the pick up. The phone
                    number must be a valid US phone number. This field is not
                    required for existing stores with a known
                    `external_store_id` 
                  example: '+16505555555'
                dropoff_address:
                  $ref: '#/components/schemas/DropoffAddress'
                customer:
                  $ref: '#/components/schemas/Customer'
                order_value:
                  minimum: 0
                  type: integer
                  description: >-
                    The subtotal for all items in the order, excluding tax/tip,
                    in cents. i.e. $19.99 = 1999
                  format: int32
                  example: 1999
                pickup_time:
                  type: string
                  description: >-
                    The requested UTC date-time (in ISO-8601 format) at which
                    the order should be picked up. If this field is specified,
                    `delivery_time` cannot be specified.
                  example: '2018-08-22T17:20:28Z'
                delivery_time:
                  type: string
                  description: >-
                    The requested UTC date-time (in ISO-8601 format) at which
                    the order should be delivered. If this field is specified,
                    `pickup_time` cannot be specified.
                  example: '2018-08-22T17:21:28Z'
                pickup_window_start_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time` ,
                    `pickup_window_end_time` , `delivery_window_start_time` ,
                    `delivery_window_end_time` ) are provided.
                  example: '2018-08-22T17:20:12Z'
                pickup_window_end_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time` ,
                    `pickup_window_end_time` , `delivery_window_start_time` ,
                    `delivery_window_end_time` ) are provided.
                  example: '2018-08-22T17:40:28Z'
                delivery_window_start_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time` ,
                    `pickup_window_end_time` , `delivery_window_start_time` ,
                    `delivery_window_end_time` ) are provided.
                  example: '2018-08-22T18:15:28Z'
                delivery_window_end_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time` ,
                    `pickup_window_end_time` , `delivery_window_start_time` ,
                    `delivery_window_end_time` ) are provided.
                  example: '2018-08-22T18:35:28Z'
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ItemRequest'
                team_lift_required:
                  type: boolean
                  description: More than one dasher is required to complete the delivery
                  example: true
                barcode_scanning_required:
                  type: boolean
                  description: >-
                    Barcode scanning at both pickup and dropoff is required to
                    complete the delivery
                  example: false
                pickup_business_name:
                  type: string
                  description: >-
                    The name of the business where the order should be picked up
                    from.
                  example: Chipotle
                pickup_instructions:
                  type: string
                  description: >-
                    Instructions for the Dasher to follow upon pickup of the
                    order.
                  example: Enter gate code 1234 on the callbox.
                dropoff_instructions:
                  type: string
                  description: >-
                    Instructions for the Dasher to follow upon delivery of the
                    order.
                  example: Lock the front door after delivering the food.
                order_volume:
                  minimum: 0
                  type: integer
                  description: >-
                    Only supported for specific use cases. Provide a list of
                    `items` with `weight` and `volume` instead or contact
                    support to discuss the use of `order_volume`.
                  format: int32
                  example: 5
                tip:
                  type: integer
                  description: The amount to tip the driver in cents i.e. $5.00 = 500
                  format: int32
                  example: 500
                external_delivery_id:
                  type: string
                  description: >-
                    A unique identifier across all store locations under a
                    business, defined by the merchant, which can be used to
                    track this specific delivery.
                  example: 1342666-2420
                driver_reference_tag:
                  type: string
                  description: >-
                    The internal order identifier at the merchant, which the
                    driver can use to pick up the order. One example of a value
                    for this field is the number the cashier hands the customer
                    at a counter-serve restaurant.
                  example: '1'
                external_business_name:
                  type: string
                  description: >-
                    A name used to group stores under a particular owner. For
                    example, John Smith's Franchise Business. Required if
                    `pickup_address` object is not passed in. If
                    `external_business_name` is used, `external_store_id` is
                    required. Can't be used with `external_business_id`.
                  example: '1443432456'
                external_business_id:
                  type: string
                  pattern: /^[A-Za-z0-9_-]{3,64}$/
                  description: >-
                    An unique, caller-selected ID of the business. Required if
                    pickup_address object is not passed in. If
                    `external_business_id` is used, `external_store_id` is
                    required. Can't be used with `external_business_name`.
                  example: a0720d55-7cbe-41ce-8185-58285b7985cd
                external_store_id:
                  type: string
                  description: >-
                    A unique identifier, defined by you, which can be used to
                    track the specific store that the delivery is for. Required
                    if `pickup_address` object is not passed in. If
                    `external_store_id` is used, `external_business_name` is
                    required.
                  example: mega-corp-2340593
                contains_alcohol:
                  type: boolean
                  description: >-
                    If true, flags the order as one that contains alcoholic
                    beverages. This ensures that the driver will check the
                    recipient's ID upon delivery.
                  example: false
                requires_catering_setup:
                  type: boolean
                  description: >-
                    If true, flags the order as one that requires special setup
                    at the consumer's location.
                  example: true
                num_items:
                  type: integer
                  description: The total number of items in the order.
                  format: int32
                  example: 1
                signature_required:
                  type: boolean
                  description: >-
                    If true, flags the order as one that requires a signature
                    from the consumer. Cannot be true if
                    `allow_unattended_delivery` is true.
                  example: false
                allow_unattended_delivery:
                  type: boolean
                  description: >-
                    If true, flags the order as one that does not require the
                    customer to be present to receive the delivery. Cannot be
                    true if `signature_required` is true and/or contains
                    restricted items.
                  example: true
                cash_on_delivery:
                  type: integer
                  minimum: 0
                  description: >-
                    Optional value in cents. Default is `None`. Cash orders must
                    be contact not contactless orders and cash value must be
                    greater than all fees. There maybe a limit up to a certain $
                    amount depending on Mx
                  example: 1000
                delivery_metadata:
                  type: object
                  description: >-
                    A JSON document that allows adding metadata about the
                    delivery such as item weight, size, etc.
                  example:
                    foo: bar
                allowed_vehicles:
                  type: array
                  description: >-
                    An array of vehicles that are allowed to be used to complete
                    this delivery. The only values that can be specified in the
                    array are 'car', 'bicycle', or 'walker'.
                  enum:
                    - car
                    - bicycle
                    - walker
                  example:
                    - car
                    - bicycle
                is_contactless_delivery:
                  type: boolean
                  description: >-
                    Allows for order to be dropped off without physically
                    handing delivery to consumer
                  example: false
                promotion_id:
                  type: string
                  description: >-
                    The ID of the promotion that you want to apply to the
                    delivery. The fee in the response will reflect the promotion
                    if this ID is valid. If the ID is invalid, field error will
                    be returned. Contact your account manager for any configured
                    promotion IDs.
                  example: ee680b87-0016-496e-ac3c-d3f33ab54c1c
                order_contains_list:
                  type: array
                  description: >-
                    An object that specifies the restricted item(s) contained in
                    this order. The values that can be specified are
                    'pharmacy_items' (delivery contains pharmacy items),
                    'age_restricted_pharmacy_items' (the order is an S3+
                    pharmacy order which requires ID Verification and can only
                    be delivered to 18+ year olds), 'tobacco_items' (delivery
                    contains tobacco items, requires ID Verification),
                    'hemp_items' (delivery contains hemp items, requires ID
                    Verification), 'otc_items' (delivery contains otc items,
                    requires ID Verification)
                  enum:
                    - pharmacy_items
                    - age_restricted_pharmacy_items
                    - tobacco_items
                    - hemp_items
                    - otc_items
                  example:
                    - pharmacy_items
                    - age_restricted_pharmacy_items
                    - tobacco_items
                    - hemp_items
                    - otc_items
                pin_code_verification_metadata:
                  type: object
                  description: >-
                    An object that contains dropoff pin code verification
                    metadata. Please reach out to Doordash to enable this
                    feature for your business.
                  properties:
                    pin_code_type:
                      type: string
                      description: >-
                        An enum that specifies the pin code value type. The
                        values that can be specified are `customer_phone_number`
                        (pin code for dropoff verification is the customer phone
                        number's last 4 digits), `merchant_provided_number` (pin
                        code for dropoff verification is the merchant provided 4
                        digit number), `random_number` (pin code for dropoff
                        verification is the random 4 digit number generated by
                        DD). Pin Code can be enabled only for orders that are
                        non-contactless and not unattended deliveries
                      enum:
                        - customer_phone_number
                        - merchant_provided_number
                        - random_number
                      example: customer_phone_number
                    pin_code_value:
                      type: string
                      description: >-
                        An object that contains pin code value, which should be
                        a 4 digit number. This has to be sent only for the
                        `merchant_provided_number` pin code type.
                      pattern: /^\d{4}$/
                      example: '1234'
        required: true
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          description: Bad request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationFieldErrorResponse'
        '409':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateDeliveryError'
        5XX:
          description: >
            - Please retry all 50x response status codes as the error could be
            transient. We recommend up to 3 retries with some exponential
            backoff delay between requests.

            - When providing a time to any of the below APIs (i.e. `pickup_time`
            or `delivery_time`), the format must be UTC.'
      deprecated: false
  /drive/v1/deliveries/{delivery_id}:
    get:
      summary: Delivery Details
      tags:
        - Delivery
      description: Get details for a delivery
      operationId: DeliveryDetailGet
      parameters:
        - name: delivery_id
          in: path
          description: >-
            Id of the delivery that was created via the Create Delivery API
            call.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: extra
          in: query
          schema:
            type: string
            enum:
              - cash_on_delivery
          type: string
          description: Optional parameter requesting any cash on delivery details
      responses:
        '200':
          description: Delivery object by id
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          description: Bad request
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationFieldErrorResponse'
        5XX:
          description: >
            - Please retry all 50x response status codes as the error could be
            transient. We recommend up to 3 retries with some exponential
            backoff delay between requests.

            - When providing a time to any of the below APIs (i.e. `pickup_time`
            or `delivery_time`), the format must be UTC.'
      deprecated: false
    patch:
      summary: Update Delivery
      tags:
        - Delivery
      description: Update the time or address for a delivery
      operationId: DeliveryDetailPatch
      parameters:
        - name: delivery_id
          in: path
          description: >-
            Id of the delivery that was created via the Create Delivery API
            call.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pickup_business_name:
                  type: string
                  description: >-
                    The name of the business where the order should be picked up
                    from.
                  example: Chipotle
                pickup_instructions:
                  type: string
                  description: >-
                    Instructions for the Dasher to follow upon pickup of the
                    order.
                  example: Enter gate code 1234 on the callbox.
                pickup_phone_number:
                  type: string
                  description: >-
                    The phone number for the Dasher to call, including country
                    code, if there are any issues with the pick up. The phone
                    number must be a valid US phone number.
                  example: '+15555555555'
                quoted_delivery_time:
                  type: string
                  description: >-
                    The newly requested UTC date-time (in ISO-8601 format) at
                    which the order should be delivered. If this field is
                    specified, then `quoted_pickup_time` cannot be specified.
                  example: '2018-08-22T17:21:28Z'
                quoted_pickup_time:
                  type: string
                  description: >-
                    The newly requested UTC date-time (in ISO-8601 format) at
                    which the order should be picked up. If this field is
                    specified, then `quoted_delivery_time` cannot be specified.
                  example: '2018-08-22T17:20:28Z'
                pickup_window_start_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time`,
                    `pickup_window_end_time`, `delivery_window_start_time`,
                    `delivery_window_end_time`) are provided.
                  example: '2018-08-22T17:20:28Z'
                pickup_window_end_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time`,
                    `pickup_window_end_time`, `delivery_window_start_time`,
                    `delivery_window_end_time`) are provided.
                  example: '2018-08-22T17:21:28Z'
                delivery_window_start_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time`,
                    `pickup_window_end_time`, `delivery_window_start_time`,
                    `delivery_window_end_time`) are provided.
                  example: '2018-08-22T17:22:28Z'
                delivery_window_end_time:
                  type: string
                  description: >-
                    The UTC date-time (in ISO-8601 format) overrides
                    `delivery_time` and `pickup_time` when all four parameters
                    of the delivery window (i.e. `pickup_window_start_time`,
                    `pickup_window_end_time`, `delivery_window_start_time`,
                    `delivery_window_end_time`) are provided.
                  example: '2018-08-22T17:23:28Z'
                dropoff_address:
                  $ref: '#/components/schemas/DropoffAddress'
                first_name:
                  type: string
                  description: The customer's updated first name.
                  example: John
                last_name:
                  type: string
                  description: The customer's updated last name.
                  example: Smith
                business_name:
                  type: string
                  description: The customer's new business name.
                  example: Some Company Inc
                customer_phone_number:
                  type: string
                  description: The customer's new phone number including the country code.
                  example: '+15555555555'
                dropoff_special_instructions:
                  type: string
                  description: >-
                    New instructions for the driver to follow upon delivery of
                    the order.
                  example: Lock the front door after delivering the food.
                signature_required:
                  type: boolean
                  description: >-
                    If true, flags the order as one that requires a signature
                    from the consumer. Cannot be true if
                    `allow_unattended_delivery` is true.
                  example: false
                allow_unattended_delivery:
                  type: boolean
                  description: >-
                    If true, flags the order as one that does not require the
                    customer to be present to receive the delivery. Cannot be
                    true if `signature_required` is true and/or contain
                    restricted items.
                  example: false
                contains_alcohol:
                  type: boolean
                  description: >-
                    If true, flags the order as one that contains alcoholic
                    beverages. This ensures that the driver will check the
                    recipient's ID upon delivery.
                  example: false
                delivery_metadata:
                  type: object
                  description: >-
                    A dictionary that allows adding metadata about the delivery
                    such as item weight, size, etc.
                  example:
                    weight: foo
                    volume: bar
                    contains_batteries: true
                allowed_vehicles:
                  type: array
                  description: >-
                    An array of vehicles that are allowed to be used to complete
                    this delivery. The only values that can be specified in the
                    array are 'car', 'bicycle', or 'walker'.
                  example:
                    - car
                    - bicycle
                    - walker
                tip:
                  type: integer
                  description: >-
                    The tip (in cents) to be provided after the given delivery
                    is completed.
                  format: int32
                  example: 1300
                order_ready_time:
                  type: string
                  description: >-
                    The UTC time at which the order was actually ready at the
                    pickup location.
                  example: '2018-08-22T17:20:28Z'
                order_contains_list:
                  type: array
                  description: >-
                    An object that specifies the restricted item(s) contained in
                    this order. The values that can be specified are
                    'tobacco_items' (delivery contains tobacco items, requires
                    ID Verification), 'hemp_items' (delivery contains hemp
                    items, requires ID Verification), 'otc_items' (delivery
                    contains otc items, requires ID Verification)
                  enum:
                    - tobacco_items
                    - hemp_items
                    - otc_items
                  example:
                    - tobacco_items
                    - hemp_items
                    - otc_items
        required: true
      responses:
        '200':
          description: Updated delivery object
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryResponse'
        '400':
          description: Bad Request.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryValidationResponse'
        '404':
          description: Delivery not found.
        5XX:
          description: >
            - Please retry all 50x response status codes as the error could be
            transient. We recommend up to 3 retries with some exponential
            backoff delay between requests.

            - When providing a time to any of the below APIs (i.e. `pickup_time`
            or `delivery_time`), the format must be UTC.'
      deprecated: false
  /drive/v1/deliveries/{delivery_id}/cancel:
    put:
      summary: Cancel Delivery
      tags:
        - Delivery
      description: Cancel OR initiate a return for a delivery
      operationId: DeliveryCancelPut
      parameters:
        - name: delivery_id
          in: path
          description: >-
            Id of the delivery that was created via the Create Delivery API
            call.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: >
          OPTIONAL: should be left blank for normal cancellations. If cancelling
          for a specific reason, provide a return code (Ex: to create a cold
          chain return, return code should be "cold_chain".)
        content:
          application/json:
            schema:
              type: object
              properties:
                reason_code:
                  type: string
                  description: >-
                    OPTIONAL: should be left blank for normal cancellations. If
                    cancelling for a specific reason, provide a return code (Ex:
                    to create a cold chain return, return code should be
                    "cold_chain".)
                  example: cold_chain
        required: false
      responses:
        '200':
          description: ''
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryCancelResponse'
        '400':
          description: |
            Delivery cannot be cancelled due to the following reasons
            - Delivery already confirmed by restaurant
            - Delivery can not be cancelled so close to estimated pickup time
        '404':
          description: Delivery not found
        5XX:
          description: >
            - Please retry all 50x response status codes as the error could be
            transient. We recommend up to 3 retries with some exponential
            backoff delay between requests.

            - When providing a time to any of the below APIs (i.e. `pickup_time`
            or `delivery_time`), the format must be UTC.'
      deprecated: false
  /developer/v1/businesses/{external_business_id}:
    get:
      summary: Get Business
      tags:
        - Business & Store
      description: Get the details of a business.
      operationId: GetBusiness
      parameters:
        - $ref: '#/components/parameters/PathExternalBusinessId'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '404':
          description: Unknown external business ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unknown_business_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
    patch:
      summary: Update Business
      tags:
        - Business & Store
      description: Update the attributes of a business.
      operationId: UpdateBusiness
      parameters:
        - $ref: '#/components/parameters/PathExternalBusinessId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessInput'
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '404':
          description: Unknown external business ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unknown_business_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
  /developer/v1/businesses:
    post:
      summary: Create Business
      tags:
        - Business & Store
      description: >-
        Create a Drive business. You cannot create a business with string
        "default" as external_business_id. "default" is reserved for
        automatically created business during developer onboarding.
      operationId: CreateBusiness
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessInput'
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
    get:
      summary: List Businesses
      tags:
        - Business & Store
      description: List the businesses owned by a developer.
      operationId: ListBusiness
      parameters:
        - in: query
          name: activationStatus
          schema:
            $ref: '#/components/schemas/BusinessActivationStatus'
        - in: query
          name: continuationToken
          schema:
            type: string
            description: >-
              Opaque string that can be used to fetch next page of businesses,
              the token value will be null if there are no more businesses to
              fetch. Page size is 100 businesses.
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBusinessList'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
  /developer/v1/businesses/{external_business_id}/stores/{external_store_id}:
    get:
      summary: Get Store
      tags:
        - Business & Store
      description: Get the details of a store.
      operationId: GetStore
      parameters:
        - $ref: '#/components/parameters/PathExternalBusinessId'
        - $ref: '#/components/parameters/PathExternalStoreId'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '404':
          description: Store not found under this external business ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unknown_store_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
    patch:
      summary: Update Store
      tags:
        - Business & Store
      description: Update the attributes of a store.
      operationId: UpdateStore
      parameters:
        - $ref: '#/components/parameters/PathExternalBusinessId'
        - $ref: '#/components/parameters/PathExternalStoreId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoreInput'
        required: true
      responses:
        '200':
          description: Ok
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '404':
          description: Store not found under this external business ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unknown_store_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
  /developer/v1/businesses/{external_business_id}/stores:
    post:
      summary: Create Store
      tags:
        - Business & Store
      description: >-
        Create a Drive store. To create a store for your developer's default
        business please create stores under "default" external_business_id. We
        recommend this route if you are either an enterprise or a developer who
        plan to manage only one business.
      operationId: CreateStore
      parameters:
        - $ref: '#/components/parameters/PathExternalBusinessId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoreInput'
        required: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '404':
          description: Unknown external business ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unknown_business_error'
        '424':
          description: Missing dependency to set up stores
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/missing_dependency_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
    get:
      summary: List Stores
      tags:
        - Business & Store
      description: List the stores under a business.
      operationId: ListStore
      parameters:
        - $ref: '#/components/parameters/PathExternalBusinessId'
        - in: query
          name: activationStatus
          schema:
            $ref: '#/components/schemas/StoreActivationStatus'
        - in: query
          name: continuationToken
          schema:
            type: string
            description: >-
              Opaque string that can be used to fetch next page of stores, the
              token value will be null if there are no more stores to fetch.
              Page size is 100 stores.
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStoreList'
        '400':
          description: Request validation failed
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validation_field_error'
        '403':
          description: Operation not authorized
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorization_error'
        '404':
          description: Unknown external business ID
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unknown_business_error'
        '500':
          description: Internal service failure, please try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/server_fault'
      deprecated: false
components:
  schemas:
    Customer:
      title: The customer that ordered the delivery.
      description: The customer that ordered the delivery.
      required:
        - phone_number
        - first_name
        - last_name
      type: object
      properties:
        phone_number:
          type: string
          description: A valid phone number for the user.
          example: '+16505555555'
        business_name:
          type: string
          description: Name of the business, if the delivery is request by a business.
          example: Mega Corp HQ
        first_name:
          type: string
          description: >
            First name of the customer creating the delivery. Maximum number of
            characters allowed is 50; cannot contain ~, `, @, #, $, %, ^, &, *,
            +, =, ?, ;, [, {, ], }, >, <, 
          example: Jane
        last_name:
          type: string
          description: >
            Last name of the customer creating the delivery. Maximum number of
            characters allowed is 50; cannot contain ~, `, @, #, $, %, ^, &, *,
            +, =, ?, ;, [, {, ], }, >, <, 
          example: Goodall
        email:
          type: string
          description: Email of the customer creating the delivery
          example: jane.goodall@megacorp.io
        should_send_notifications:
          type: boolean
          description: >-
            Whether customer will receive notifications from DoorDash for this
            delivery. The default is true if you have not requested to opt out
            of notifications on business level. This field will override your
            default sms contact configuration.
          example: true
        locale:
          type: string
          description: >-
            IETF BCP 47 compliant string representing a user's language
            preference, for the purpose of communication. Defaults to en-US if
            not passed in.
          example: en-US
    DropoffAddress:
      title: The address where the delivery needs to be dropped off.
      description: The address where the delivery needs to be dropped off.
      required:
        - city
        - state
        - street
        - zip_code
      type: object
      properties:
        city:
          type: string
          description: City for the address
          example: San Francisco
          nullable: false
        state:
          type: string
          description: State for the address
          example: California
          nullable: false
        street:
          type: string
          description: Street for the address
          example: 901 Market Street
          nullable: false
        unit:
          type: string
          description: Suite, Apartment or Unit number of the address
          example: 'Suite #600'
          nullable: false
        zip_code:
          type: string
          description: Zipcode for the address
          example: '94105'
          nullable: false
        full_address:
          type: string
          description: >-
            Comma separated full address, in the order appropriate for your
            locale. Can be used as replacement for all other address component
            fields (unit, street, city, state, zip). Takes precedence over all
            other address component fields (unit, street, city, state, zip) if
            case of combined input.
          example: 901 Market Street 6th Floor, San Francisco, CA 94103
        location:
          title: The coordinates of dropoff address
          description: >-
            The Lat/Lng for dropoff address. This is an optional field that is
            being tested and is ignored unless indicated otherwise to you by the
            DoorDash team. If both location and text address are provided, we
            will use location for navigation and text address (and corresponding
            geocoded lat/lng) for all downstream calculations (fees,
            serviceability, etc.). Please contact us if interested in joining
            our pilot test group.
          required:
            - lat
            - lng
          type: object
          properties:
            lat:
              type: double
              description: Latitude for the address
              example: 37.78
              nullable: false
            lng:
              type: double
              description: Longitude for the address
              example: -122.4
              nullable: false
    DropoffAddressResponse:
      title: The address where the delivery needs to be dropped off.
      description: The address where the delivery needs to be dropped off.
      required:
        - city
        - state
        - street
        - zip_code
      type: object
      properties:
        city:
          type: string
          description: City for the address
          example: San Francisco
          nullable: false
        state:
          type: string
          description: State for the address
          example: California
          nullable: false
        street:
          type: string
          description: Street for the address
          example: 901 Market Street
          nullable: false
        unit:
          type: string
          description: Suite, Apartment or Unit number of the address
          example: 'Suite #600'
          nullable: false
        zip_code:
          type: string
          description: Zipcode for the address
          example: '94105'
          nullable: false
        dasher_parking_details:
          type: string
          description: >-
            An identifier describing where the dasher is parked, supplied by the
            dasher via the app. This value is null when the feature is not
            enabled.
          example: Parking Stall 1234
    PickupAddress:
      title: The address the delivery needs to be picked up from.
      description: >-
        The address the delivery needs to be picked up from. Required unless
        your request includes an `external_store_id` that you've already used in
        at least one successful delivery request. If both `pickup_address` and
        `external_store_id` are included, `pickup_address` is ignored in favor
        of the existing address associated with the store.
      required:
        - city
        - state
        - street
        - zip_code
      type: object
      properties:
        city:
          type: string
          description: City for the address
          example: San Francisco
        state:
          type: string
          description: State for the address
          example: California
        street:
          type: string
          description: Street for the address
          example: 101 Howard Street
        unit:
          type: string
          description: Suite, Apartment or Unit number of the address
          example: Apt 301
        zip_code:
          type: string
          description: Zipcode for the address
          example: '94105'
        full_address:
          type: string
          description: >-
            Comma separated full address, in the order appropriate for your
            locale. Can be used as replacement for all other address component
            fields (unit, street, city, state, zip). Takes precedence over all
            other address component fields (unit, street, city, state, zip) if
            case of combined input.
          example: 901 Market Street 6th Floor, San Francisco, CA 94103
    CreationPickupAddress:
      title: >-
        The address the delivery needs to be picked up from. This field is not
        required for existing stores with a known `external_store_id`.
      description: The address the delivery needs to be picked up from.
      required:
        - city
        - state
        - street
        - zip_code
      type: object
      properties:
        city:
          type: string
          description: City for the address
          example: San Francisco
        state:
          type: string
          description: State for the address
          example: California
        street:
          type: string
          description: Street for the address
          example: 101 Howard Street
        unit:
          type: string
          description: Suite, Apartment or Unit number of the address
          example: Apt 301
        zip_code:
          type: string
          description: Zipcode for the address
          example: 94105
        location:
          $ref: '#/components/schemas/location'
    PickupAddressResponse:
      title: The address the delivery needs to be picked up from.
      description: The address the delivery needs to be picked up from.
      required:
        - city
        - state
        - street
        - zip_code
      type: object
      properties:
        city:
          type: string
          description: City for the address
          example: San Francisco
        state:
          type: string
          description: State for the address
          example: California
        street:
          type: string
          description: Street for the address
          example: 101 Howard Street
        unit:
          type: string
          description: Suite, Apartment or Unit number of the address
          example: Apt 301
        zip_code:
          type: string
          description: Zipcode for the address
          example: '94105'
        dasher_parking_details:
          type: string
          description: >-
            An identifier describing where the dasher is parked, supplied by the
            dasher via the app. This value is null when the feature is not
            enabled.
          example: Parking Stall 1234
    DeliveryEstimate:
      title: Estimate
      required:
        - delivery_time
        - fee
        - pickup_time
        - currency
        - id
      type: object
      properties:
        delivery_time:
          type: string
          example: '2018-08-22T17:20:28Z'
          description: Estimated time of delivery
          nullable: false
        fee:
          type: integer
          format: int64
          example: 1900
          description: Delivery Fees in cents. i.e. 1940 equals $19.40
          minimum: 0
          nullable: false
        fee_components:
          type: array
          description: The charges that were applied for this delivery; sums to `fee`.
          items:
            $ref: '#/components/schemas/FeeComponent'
        tax:
          type: integer
          format: int32
          example: 520
          description: >-
            Delivery tax in the lowest currency denomination (e.g. cents). i.e.
            $5.99 = 599 or null if not available.
          minimum: 0
        tax_components:
          type: array
          description: >-
            The taxes that were applied for this delivery; sums to `tax`. Only
            returned for deliveries in Canada.
          items:
            $ref: '#/components/schemas/TaxComponent'
        pickup_time:
          type: string
          example: '2018-08-22T18:10:58Z'
          description: Estimated time of for order pickup
          nullable: false
        currency:
          type: string
          description: Currency for the delivery fees
          example: USD
        id:
          type: integer
          format: int64
          description: Id of the delivery estimate
          example: 48173944
          nullable: false
    Address:
      title: Address
      required:
        - city
        - state
        - street
        - zip_code
      type: object
      properties:
        city:
          type: string
        state:
          type: string
        street:
          type: string
        zip_code:
          type: string
    location:
      title: a dictionary containing 'lng' and 'lat'
      description: Geolocation value in longitude and latitude
      example:
        lng: -122.431297
        lat: 37.773972
      properties:
        lng:
          type: double
          description: Longitude of the location
        lat:
          type: double
          description: Latitude of the location
    DeliveryValidationResponse:
      title: DeliveryValidationResponse
      type: object
      properties:
        valid:
          description: '`false` as the delivery request is invalid'
          type: boolean
          example: false
        errors:
          type: object
          x-nullable: true
          description: >-
            Field errors when the validation fails. `null` when the delivery is
            valid.
    ValidDeliveryResponse:
      title: ValidDeliveryResponse
      type: object
      properties:
        valid:
          description: '`true` delivery is valid, `false` if not.'
          type: boolean
          example: true
        errors:
          type: object
          x-nullable: true
          description: >-
            Field errors when the validation fails. `null` when the delivery is
            valid.
    DeliveryResponse:
      title: Delivery
      description: Object that describes the details of a delivery.
      required:
        - rating
        - pickup_window_start_time
        - actual_return_time
        - driver_reference_tag
        - contains_alcohol
        - updated_at
        - currency
        - estimated_pickup_time
        - pickup_window_end_time
        - order_volume
        - id
        - dasher_status
        - estimated_delivery_time
        - fee
        - quoted_pickup_time
        - dropoff_address
        - allow_unattended_delivery
        - tip
        - team_lift_required
        - estimated_return_time
        - batch_id
        - external_store_id
        - pickup_instructions
        - dasher
        - status
        - quoted_delivery_time
        - actual_pickup_time
        - delivery_window_start_time
        - signature_required
        - delivery_window_end_time
        - pickup_address
        - barcode_scanning_required
        - submit_platform
        - delivery_tracking_url
        - external_delivery_id
        - customer
        - return_delivery_id
        - order_value
        - items
        - dropoff_instructions
        - actual_delivery_time
        - signature_image_url
        - quantity
        - delivery_verification_image_url
        - pickup_verification_image_url
        - relationship_type
        - relationship_description
      type: object
      properties:
        rating:
          type: string
          description: Rating of the delivery
        pickup_window_start_time:
          type: string
          description: >-
            The UTC date-time (in ISO-8601 format) overrides `delivery_time` and
            `pickup_time` when all four parameters of the delivery window (i.e.
            `pickup_window_start_time` , `pickup_window_end_time` ,
            `delivery_window_start_time` , `delivery_window_end_time` ) are
            provided.
          example: '2018-08-22T17:20:12Z'
        pickup_window_end_time:
          type: string
          description: >-
            The UTC date-time (in ISO-8601 format) overrides `delivery_time` and
            `pickup_time` when all four parameters of the delivery window (i.e.
            `pickup_window_start_time` , `pickup_window_end_time` ,
            `delivery_window_start_time` , `delivery_window_end_time` ) are
            provided.
          example: '2018-08-22T17:40:28Z'
        delivery_window_start_time:
          type: string
          description: >-
            The UTC date-time (in ISO-8601 format) overrides `delivery_time` and
            `pickup_time` when all four parameters of the delivery window (i.e.
            `pickup_window_start_time` , `pickup_window_end_time` ,
            `delivery_window_start_time` , `delivery_window_end_time` ) are
            provided.
          example: '2018-08-22T18:15:28Z'
        delivery_window_end_time:
          type: string
          description: >-
            The UTC date-time (in ISO-8601 format) overrides `delivery_time` and
            `pickup_time` when all four parameters of the delivery window (i.e.
            `pickup_window_start_time` , `pickup_window_end_time` ,
            `delivery_window_start_time` , `delivery_window_end_time` ) are
            provided.
          example: '2018-08-22T18:35:28Z'
        actual_return_time:
          type: string
          description: The time at which the delivery was actually returned.
          example: '2018-08-22T18:35:28Z'
        driver_reference_tag:
          type: string
          description: >-
            The internal order identifier at the merchant, which the driver can
            use to pick up the order. One example of a value for this field is
            the number the cashier hands the customer at a counter-serve
            restaurant.
          example: ABD13234
        contains_alcohol:
          type: boolean
          description: >-
            Set this to true if the order contains alcohol. Default value is
            false.
          example: true
        updated_at:
          type: string
          description: The timestamp at which the delivery got updated.
          example: '2018-08-22T18:35:28Z'
        currency:
          type: string
          description: Currency for the delivery fees
          example: USD
        estimated_pickup_time:
          type: string
          description: >-
            An estimate of the time by which the dasher will pickup the order
            from the pickup location provided at the time of delivery creation.
          example: '2018-08-22T18:35:28Z'
        order_volume:
          type: integer
          format: int64
          description: >-
            Only supported for specific use cases. Provide a list of `items`
            with `weight` and `volume` instead or contact support to discuss the
            use of `order_volume`.
          example: 3
        id:
          type: integer
          format: int64
          description: The id of the delivery
        dasher_status:
          type: string
          description: The status of the dasher
          enum:
            - unassigned
            - accepted
            - arrived_at_store
            - picked_up
            - arrived_at_consumer
            - dropped_off
            - pending_return
            - dropped_off_return
        estimated_delivery_time:
          type: string
          description: >-
            An estimate of the time by which, the dasher will drop off the order
            at the customer's location provided at the time of delivery
            creation.
          example: '2018-08-22T18:35:28Z'
        fee:
          type: integer
          format: int64
          example: 1900
          description: Delivery Fees in cents. i.e. 1940 equals $19.40
          minimum: 0
          x-nullable: false
        fee_components:
          type: array
          description: The charges that were applied for this delivery; sums to `fee`.
          items:
            $ref: '#/components/schemas/FeeComponent'
        tax:
          type: integer
          format: int32
          example: 520
          description: >-
            Delivery tax in the lowest currency denomination (e.g. cents). i.e.
            $5.99 = 599 or null if not available.
          minimum: 0
        tax_components:
          type: array
          description: >-
            The taxes that were applied for this delivery; sums to `tax`. Only
            returned for deliveries in Canada.
          items:
            $ref: '#/components/schemas/TaxComponent'
        quoted_pickup_time:
          type: string
          description: >-
            Estimated time at which the delivery will be picked up from the
            merchant location specified during delivery creation.
          example: '2018-08-22T17:20:28Z'
        dropoff_address:
          $ref: '#/components/schemas/DropoffAddressResponse'
        allow_unattended_delivery:
          type: boolean
          description: >-
            If true, flags the order as one that does not require the customer
            to be present to receive the delivery. Cannot be true if
            `signature_required` is true.
          example: false
        tip:
          type: integer
          description: The amount to tip the Dasher in cents i.e. $5.00 = 500
          format: int32
          example: 500
        team_lift_required:
          type: boolean
          description: More than one dasher is required to complete the delivery
          example: true
        external_store_id:
          type: string
          description: >-
            A unique identifier, defined by you, which can be used to track the
            specific store that the delivery is for.
          example: '148767394'
        pickup_instructions:
          type: string
          description: Instruction for the dasher for the pickup location.
          example: Use the back alley of the store for pickup
        dasher:
          $ref: '#/components/schemas/Dasher'
        status:
          type: string
          description: The status of the delivery
          enum:
            - scheduled
            - assigned
            - picked_up
            - delivered
            - cancelled
            - pending_return
            - returned
        quoted_delivery_time:
          type: string
          description: Estimated time by which the order will be delivered.
          example: '2018-08-22T18:35:28Z'
        actual_pickup_time:
          type: string
          description: Actual time at which the delivery was picked up by the dasher.
          example: '2018-08-22T18:35:28Z'
        signature_required:
          type: boolean
          description: >-
            If true, flags the order as one that requires a signature from the
            consumer. Cannot be true if `allow_unattended_delivery` is true.
          example: false
        pickup_address:
          $ref: '#/components/schemas/PickupAddressResponse'
        barcode_scanning_required:
          type: boolean
          description: >-
            Barcode scanning at both pickup and dropoff is required to complete
            the delivery
          example: false
        delivery_tracking_url:
          type: string
          description: >-
            Tracking page for the delivery that you can use or share with the
            sender and/or receiver of the delivery. Note: the URL format is not
            fixed and may change over time.
          example: http://drd.sh/d035NtWrk/
        external_delivery_id:
          type: string
          description: >-
            A unique identifier across all store locations under a business,
            defined by the merchant, which can be used to track this specific
            delivery.
          example: 1342666-2420
        customer:
          $ref: '#/components/schemas/Customer'
        order_value:
          type: integer
          format: int64
          description: Total value of the order being delivered in cents e.g. 14000 is $140
          example: 14000
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemResponse'
          description: >-
            An array of items provided by the merchant at the time of delivery
            creation
        dropoff_instructions:
          type: string
          description: Instructions for dasher at the time of delivery drop off
          example: Please call me to buzz you in
        actual_delivery_time:
          type: string
        signature_image_url:
          type: string
          description: >-
            The link to an image of the signature supplied by the customer if
            they were required to sign for the delivery. This link will expire
            in 3 days.
          example: >-
            https://doordash-static.s3-us-west-2.amazonaws.com/media/drive/drive-logo.png
        quantity:
          description: Quantity of the item being delivered.
          type: integer
          format: int64
          example: 1
        delivery_verification_image_url:
          type: string
          description: >-
            A URL for the delivery verification image uploaded by the Dasher;
            only available if the delivery required a verification image to be
            taken at delivery.
          example: >-
            https://doordash-static.s3-us-west-2.amazonaws.com/media/drive/drive-logo.png
        pickup_verification_image_url:
          type: string
          description: >-
            A URL for the pickup verification image uploaded by the Dasher; only
            available if the delivery required a verification image to be taken
            at pickup.
          example: >-
            https://doordash-static.s3-us-west-2.amazonaws.com/media/drive/drive-logo.png
        relationship_type:
          type: string
          description: >-
            For deliveries where `signature_required` is `true`, how the person
            who signed for the delivery is related to the delivery recipient.
          enum:
            - Self
            - Wife
            - Husband
            - Mother
            - Father
            - Daughter
            - Son
            - Front desk
            - Nurse
            - Caregiver
            - Other
          example: Self
        relationship_description:
          type: string
          description: >-
            For deliveries where `signature_required` is `true` and
            `relationship_type` is `other`, a description of how the person who
            signed for the delivery is related to the delivery recipient.
          example: Brother
        order_contains_list:
          type: array
          description: >-
            An object that specifies the restricted item(s) contained in this
            order. The values that can be specified are 'pharmacy_items'
            (delivery contains pharmacy items), 'age_restricted_pharmacy_items'
            (the order is an S3+ pharmacy order which requires ID Verification
            and can only be delivered to 18+ year olds), 'tobacco_items'
            (delivery contains tobacco items, requires ID Verification),
            'hemp_items' (delivery contains hemp items, requires ID
            Verification), 'otc_items' (delivery contains otc items, requires ID
            Verification)
          enum:
            - pharmacy_items
            - age_restricted_pharmacy_items
            - tobacco_items
            - hemp_items
            - otc_items
          example:
            - pharmacy_items
            - age_restricted_pharmacy_items
            - tobacco_items
            - hemp_items
            - otc_items
        pin_code_verification_metadata:
          type: object
          description: >-
            An object that contains dropoff pin code verification metadata.
            Please reach out to Doordash to enable this feature for your
            business.
          properties:
            pin_code_type:
              type: string
              description: >-
                An enum that specifies the pin code value type. The values that
                can be specified are `customer_phone_number` (pin code for
                dropoff verification is the customer phone number's last 4
                digits), `merchant_provided_number` (pin code for dropoff
                verification is the merchant provided 4 digit number),
                `random_number` (pin code for dropoff verification is the random
                4 digit number generated by DD). Pin Code can be enabled only
                for orders that are non-contactless and not unattended
                deliveries
              enum:
                - customer_phone_number
                - merchant_provided_number
                - random_number
              example: customer_phone_number
            pin_code_value:
              type: string
              description: >-
                An object that contains pin code value, which should be a 4
                digit number. This must be sent only for
                `merchant_provided_number` pin code type.
              pattern: /^\d{4}$/
              example: '1234'
    DeliveryCancelResponse:
      title: DeliveryCancelResponse
      type: object
      properties:
        return_initiated:
          type: boolean
        cancelled_at:
          type: string
    ValidationFieldErrorResponse:
      title: ValidationFieldErrorResponse
      type: object
      description: The response returned when validation for field errors are encountered.
      nullable: true
      readOnly: true
      properties:
        message:
          type: string
          description: The message associated with the error, if any
          example: Something went wrong
          readOnly: true
          nullable: true
        field_errors:
          type: array
          description: Error objects that were generated during the validation call
          items:
            $ref: '#/components/schemas/ValidationFieldError'
          nullable: false
          readOnly: true
    ValidationFieldError:
      title: FieldError
      type: object
      description: Field Errors that occur during the api call.
      required:
        - field
        - error
      properties:
        field:
          type: string
          description: Name of the field where the error has occurred
          example: pickup_phone_number
        error:
          type: string
          description: Error objects that were generated during the validation call
          example: Invalid phone number format
    ItemRequest:
      title: Item
      description: Items in the delivery
      required:
        - name
      type: object
      properties:
        name:
          type: string
          example: Mega Bean and Cheese Burrito
          description: Name of the item being delivered.
        description:
          type: string
          example: >-
            Mega Burrito contains the biggest beans of the land with extra
            cheese.
          description: Description of the item being delivered
        barcode:
          type: string
          example: '12342830041'
          description: >-
            Barcode identifying the item. This value must be in one of the
            following formats: Data Matrix, AZTEC, Code 128, Code 39, Code 93,
            CODABAR, EAN 13, EAN 8, ITF, UPC A, UPC E, PDF417
        quantity:
          type: int
          example: 2
          description: Quantity of the item being delivered. Defaults to 1 if not provided.
        external_id:
          type: string
          example: 123-123443434b
          description: External name/id for the item as setup by the merchant.
        volume:
          maximum: 1000
          exclusiveMaximum: true
          type: double
          example: 5.3
          description: >-
            Unit volume of 1 instance of this item, in cubic feet, with or
            without a decimal point. The overall volume of this item is
            calculated by multiplying this field by `quantity`.
        weight:
          type: double
          example: 2.8
          description: >-
            Unit weight of 1 instance of this item, in pounds (lbs), with or
            without a decimal point. The overall weight of this item is
            calculated by multiplying this field by `quantity`.
        length:
          minimum: 0
          type: double
          example: 2.8
          description: >-
            Unit length of 1 instance of this item, in inches, with or without a
            decimal point.
        width:
          minimum: 0
          type: double
          example: 2.8
          description: >-
            Unit width of 1 instance of this item, in inches, with or without a
            decimal point.
        height:
          minimum: 0
          type: double
          example: 2.8
          description: >-
            Unit height of 1 instance of this item, in inches, with or without a
            decimal point.
        price:
          type: int
          example: 1000
          description: >-
            Unit price of 1 instance of this item, in cents, i.e. 1000 = 10.00
            in local currency. The overall price of this item is calculated by
            multiplying this field by `quantity`.
    ItemResponse:
      title: Item
      description: Items in the delivery
      required:
        - name
      type: object
      properties:
        name:
          type: string
          example: Mega Bean and Cheese Burrito
          description: Name of the item being delivered.
        description:
          type: string
          example: >-
            Mega Burrito contains the biggest beans of the land with extra
            cheese.
          description: Description of the item being delivered
        barcode:
          type: string
          example: '12342830041'
          description: >-
            Barcode identifying the item. This value must be in one of the
            following formats: Data Matrix, AZTEC, Code 128, Code 39, Code 93,
            CODABAR, EAN 13, EAN 8, ITF, UPC A, UPC E, PDF417
        scan_status:
          type: string
          example: unknown
          description: >
            Represents whether or not the dasher has scanned this item as a part
            of the delivery. Possible statuses:

            - "unknown" -> initial state, scanning not attempted yet

            - "scanned" -> this item was scanned in the Dasher app via the
            barcode scanner

            - "manually_scanned" -> currently not used, reserved for future use

            - "missing" -> this item was not scanned even though it was
            requested

            - "overage" -> this is an extra item that was not originally
            requested, but was scanned anyway
        quantity:
          type: int
          example: 2
          description: Quantity of the item being delivered. Defaults to 1 if not provided.
        external_id:
          type: string
          example: 123-123443434b
          description: External name/id for the item as setup by the merchant.
        volume:
          type: int
          example: 5.3
          description: >-
            Unit volume of 1 instance of this item, in cubic feet, with or
            without a decimal point. The overall volume of this item is
            calculated by multiplying this field by `quantity`.
        weight:
          type: int
          example: 2.8
          description: >-
            Unit weight of 1 instance of this item, in pounds (lbs), with or
            without a decimal point. The overall weight of this item is
            calculated by multiplying this field by `quantity`.
        price:
          type: int
          example: 1000
          description: >-
            Unit price of 1 instance of this item, in cents, i.e. 1000 = 10.00
            in local currency. The overall price of this item is calculated by
            multiplying this field by `quantity`.
    DuplicateDeliveryError:
      title: DuplicateDeliveryError
      type: object
      description: >-
        Error returned with the submitted delivery creation request is a
        duplicate and has a delivery already created for it.
      required:
        - field
        - error
      properties:
        delivery_id:
          type: int
          description: Id of the delivery that is already created
          example: 1123214424
        external_delivery_id:
          type: string
          description: Merchant provided delivery id
          example: '142355213'
    Dasher:
      title: Dasher
      type: object
      description: >-
        The driver picking up the order from the store and dropping it off at
        the customer.
      required:
        - phone_number
        - id
        - first_name
        - last_name
      properties:
        id:
          type: int
          description: The unique identifier for the Dasher
          example: 1232142
        first_name:
          type: string
          description: The first name of the Dasher
          example: John
        last_name:
          type: string
          description: Last name of the Dasher
          example: Wick
        phone_number:
          type: string
          description: >-
            Masked phone number of the Dasher for the merchant to use. Number is
            masked for privacy and expires 30 minutes after the delivery is
            completed.
          example: +1-501-234-1343
        dasher_phone_number_for_customer:
          type: string
          description: >-
            Masked phone number of the Dasher for the customer to use. Number is
            masked for privacy and expires 30 minutes after the delivery is
            completed.
          example: +1-501-234-1343
        profile_image_url:
          type: string
          description: A URL to a photo of the Dasher
        vehicle:
          $ref: '#/components/schemas/Vehicle'
        location:
          $ref: '#/components/schemas/Location'
    Location:
      title: Location
      type: object
      description: Geolocation value in latitude and longitude
      properties:
        lat:
          type: double
          description: Latitude of the location
          example: 123.1312343
        lng:
          type: double
          description: Longitude of the location
          example: -37.2144343
    Vehicle:
      title: Vehicle
      type: object
      description: Details of a vehicle
      properties:
        color:
          type: string
          description: Unused
          example: ''
        make:
          type: string
          description: Model of the vehicle
          example: Toyota
        model:
          type: string
          description: Make of the vehicle
          example: Corolla
        license_plate_number:
          type: string
          description: Unused
          example: ''
        year:
          type: string
          description: Year the vehicle was made
          example: '2006'
    FeeComponent:
      title: FeeComponent
      description: Breakdown of the fee that was charged for this delivery; sums to `fee`.
      type: object
      required:
        - type
        - amount
      properties:
        type:
          type: string
          description: Name of the fee component.
          example: distance_based_fee
          enum:
            - drive_fee_component_type_unspecified
            - distance_based_fee
            - order_value_based_fee
            - service_fee
            - mx_subsidy
            - other
            - dasher_regulatory_fee
            - promotion
            - small_order_fee
            - flat_fee
            - dwt_fee
            - package_fee
            - fuel_surcharge
            - delivery_area_surcharge
            - unrecognized
        amount:
          type: integer
          format: int32
          description: >-
            Amount of the fee component in the lowest currency denomination
            (e.g. cents). i.e. $5.99 = 599
          example: 1900
    TaxComponent:
      title: TaxComponent
      description: >-
        Breakdown of the taxes that were charged for this delivery; sums to
        `tax`. Only returned for deliveries in Canada.
      type: object
      required:
        - type
        - amount
      properties:
        type:
          type: string
          description: Name of the tax component.
          example: gst_hst
          enum:
            - tax_type_unspecified
            - gst_hst
            - qst
            - pst
            - unrecognized
        amount:
          type: integer
          format: int32
          description: >-
            Amount of the tax component in the lowest currency denomination
            (e.g. cents). i.e. $5.99 = 599
          example: 520
    BusinessName:
      title: Business Name
      type: string
      pattern: Any non empty string
      description: >-
        Human readable name for the business. Used when the details of a
        business are shown to a customer, Dasher, merchant, or support agent.
      example: Neighborhood Deli
    BusinessDescription:
      type: string
      pattern: Any non empty string
      description: >-
        Short description of the business. Used in the DoorDash Merchant Portal.
        Maximum length of description is 100 characters
      example: A neighborhood deli serving many tasty sandwiches and soups.
    BizExternalBusinessId:
      type: string
      pattern: /^[A-Za-z0-9_-]{3,64}$/
      description: Unique, caller-selected ID of the business.
      example: a0720d55-7cbe-41ce-8185-58285b7985cd
    BusinessActivationStatus:
      type: string
      description: >-
        Activation status of the business. Used primarily for the automatic
        self-serve onboarding flow.
      enum:
        - initiated
        - pending_external_activation
        - pending_legal_agreement
        - abandoned
        - failed
        - active
        - inactive
      example: active
    ExternalMetadata:
      title: ExternalMetadata
      description: >-
        Additional caller-specific metadata about the business. Used primarily
        for the automatic self-serve onboarding flow.
      type: object
      properties:
        number_of_stores:
          type: integer
          description: Number of stores owned by the business.
          example: '10'
        client_email:
          type: string
          description: Business owner or contact email address.
          example: merchant@doordash.com
        client_phone_number:
          type: string
          description: Business owner or contact phone number.
          example: '+12065551212'
        external_store_ids:
          type: array
          items:
            type: String
          description: External store_ids that merchant wants MWP/DoorDash to create stores
    Business:
      title: Business
      description: Details of a business.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/BusinessName'
        description:
          $ref: '#/components/schemas/BusinessDescription'
        external_business_id:
          $ref: '#/components/schemas/BizExternalBusinessId'
        activation_status:
          $ref: '#/components/schemas/BusinessActivationStatus'
        created_at:
          type: string
          description: Time when the business was created. Uses ISO-8601 format.
          example: '2022-04-25T17:21:43Z'
        last_updated_at:
          type: string
          description: Time when the business was last updated. Uses ISO-8601 format.
          example: '2022-04-25T17:21:43Z'
        is_test:
          type: boolean
          description: Indicates whether the business was created as a test business.
          example: false
        external_metadata:
          $ref: '#/components/schemas/ExternalMetadata'
    FieldError:
      title: FieldError
      type: object
      description: A field whose value couldn't be validated.
      required:
        - field
        - error
      properties:
        field:
          type: string
          description: Name of the field whose value couldn't be validated.
          example: pickup_phone_number
        error:
          type: string
          description: The error that was encountered when validating the field's value.
          example: Invalid phone number format
    validation_field_error:
[...]
