openapi: 3.1.0
info:
  title: DoorDash Drive API
  description: >-
    The DoorDash Drive API enables businesses to request on-demand deliveries
    fulfilled by DoorDash's fleet of Dashers. It provides endpoints for
    checking delivery serviceability, getting delivery quotes, creating and
    managing deliveries, and tracking delivery status in real time. The API
    uses JWT-based authentication and is designed for businesses that want to
    offer delivery from their own ordering experience while leveraging
    DoorDash's logistics network.
  version: '2.0'
  contact:
    name: DoorDash Developer Support
    url: https://developer.doordash.com/en-US/
  termsOfService: https://www.doordash.com/terms/
externalDocs:
  description: DoorDash Drive API Documentation
  url: https://developer.doordash.com/en-US/docs/drive/overview/about_drive/
servers:
- url: https://openapi.doordash.com/drive/v2
  description: Production Server
tags:
- name: Addresses
  description: >-
    Get address auto-completion suggestions based on partial input.
- name: Businesses
  description: >-
    Manage business entities that represent legal entities or owners on the
    DoorDash Drive platform.
- name: Deliveries
  description: >-
    Create, retrieve, update, and cancel on-demand deliveries fulfilled by
    DoorDash Dashers.
- name: Quotes
  description: >-
    Validate delivery serviceability and get pricing quotes before creating
    a delivery.
- name: Stores
  description: >-
    Manage store locations that represent individual pickup points associated
    with a business.
security:
- bearerAuth: []
paths:
  /quotes:
    post:
      operationId: createDeliveryQuote
      summary: DoorDash Create a Delivery Quote
      description: >-
        Creates a delivery quote to confirm that a delivery is serviceable by
        DoorDash and returns the estimated fee and delivery time. Quotes are
        valid for 5 minutes after creation.
      tags:
      - Quotes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
            examples:
              CreateDeliveryQuoteRequestExample:
                summary: Default createDeliveryQuote request
                x-microcks-default: true
                value:
                  external_delivery_id: D-12345
                  pickup_address: 901 Market St, San Francisco, CA 94105
                  pickup_business_name: Acme Pickup Store
                  pickup_phone_number: '+15555551234'
                  dropoff_address: 901 Market St, San Francisco, CA 94105
                  dropoff_business_name: Acme Pickup Store
                  dropoff_phone_number: '+15555551234'
                  order_value: 42
                  pickup_time: '2026-06-02T14:30:00Z'
                  dropoff_time: '2026-06-02T14:30:00Z'
      responses:
        '200':
          description: Delivery quote created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
              examples:
                CreateDeliveryQuote200Example:
                  summary: Default createDeliveryQuote 200 response
                  x-microcks-default: true
                  value:
                    external_delivery_id: D-12345
                    fee: 42
                    currency: USD
                    delivery_time: '2026-06-02T14:30:00Z'
                    pickup_time: '2026-06-02T14:30:00Z'
                    expires_at: '2026-06-02T14:30:00Z'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateDeliveryQuote400Example:
                  summary: Default createDeliveryQuote 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateDeliveryQuote401Example:
                  summary: Default createDeliveryQuote 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /quotes/{external_delivery_id}/accept:
    post:
      operationId: acceptDeliveryQuote
      summary: DoorDash Accept a Delivery Quote
      description: >-
        Accepts a previously created delivery quote and initiates the delivery
        process. The quote must be accepted within 5 minutes of being created.
        You can optionally edit the tip amount when accepting.
      tags:
      - Quotes
      parameters:
      - $ref: '#/components/parameters/ExternalDeliveryId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptQuoteRequest'
            examples:
              AcceptDeliveryQuoteRequestExample:
                summary: Default acceptDeliveryQuote request
                x-microcks-default: true
                value:
                  tip: 42
      responses:
        '200':
          description: Quote accepted and delivery initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
              examples:
                AcceptDeliveryQuote200Example:
                  summary: Default acceptDeliveryQuote 200 response
                  x-microcks-default: true
                  value:
                    external_delivery_id: D-12345
                    delivery_status: created
                    fee: 42
                    currency: USD
                    tip: 42
                    order_value: 42
                    pickup_address: 901 Market St, San Francisco, CA 94105
                    pickup_business_name: Acme Pickup Store
                    pickup_phone_number: '+15555551234'
                    pickup_instructions: Leave at the front desk.
                    pickup_time_estimated: '2026-06-02T14:30:00Z'
                    pickup_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_address: 901 Market St, San Francisco, CA 94105
                    dropoff_business_name: Acme Pickup Store
                    dropoff_phone_number: '+15555551234'
                    dropoff_instructions: Leave at the front desk.
                    dropoff_time_estimated: '2026-06-02T14:30:00Z'
                    dropoff_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_contact_given_name: Acme Pickup Store
                    dropoff_contact_family_name: Acme Pickup Store
                    dasher_id: 42
                    dasher_name: Acme Pickup Store
                    dasher_phone_number: '+15555551234'
                    dasher_location:
                      lat: 37.422
                      lng: -122.084
                    tracking_url: https://example.com/path/abc123
                    contains_alcohol: true
                    force_batch_id: D-12345
                    created_at: '2026-06-02T14:30:00Z'
                    updated_at: '2026-06-02T14:30:00Z'
        '400':
          description: Quote expired or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AcceptDeliveryQuote400Example:
                  summary: Default acceptDeliveryQuote 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AcceptDeliveryQuote401Example:
                  summary: Default acceptDeliveryQuote 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Quote not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AcceptDeliveryQuote404Example:
                  summary: Default acceptDeliveryQuote 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /deliveries:
    post:
      operationId: createDelivery
      summary: DoorDash Create a Delivery
      description: >-
        Creates a new delivery request directly without first creating a quote.
        DoorDash will assign a Dasher to fulfill the delivery. This is an
        alternative to the quote-then-accept workflow.
      tags:
      - Deliveries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryRequest'
            examples:
              CreateDeliveryRequestExample:
                summary: Default createDelivery request
                x-microcks-default: true
                value:
                  external_delivery_id: D-12345
                  pickup_address: 901 Market St, San Francisco, CA 94105
                  pickup_business_name: Acme Pickup Store
                  pickup_phone_number: '+15555551234'
                  pickup_instructions: Leave at the front desk.
                  pickup_reference_tag: example
                  dropoff_address: 901 Market St, San Francisco, CA 94105
                  dropoff_business_name: Acme Pickup Store
                  dropoff_phone_number: '+15555551234'
                  dropoff_instructions: Leave at the front desk.
                  dropoff_contact_given_name: Acme Pickup Store
                  dropoff_contact_family_name: Acme Pickup Store
                  order_value: 42
                  tip: 42
                  pickup_time: '2026-06-02T14:30:00Z'
                  dropoff_time: '2026-06-02T14:30:00Z'
                  contains_alcohol: true
                  force_batch_id: D-12345
                  external_business_id: D-12345
                  external_store_id: D-12345
                  items:
                  - name: {}
                    description: {}
                    quantity: {}
                    external_id: {}
                    price: {}
      responses:
        '200':
          description: Delivery created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
              examples:
                CreateDelivery200Example:
                  summary: Default createDelivery 200 response
                  x-microcks-default: true
                  value:
                    external_delivery_id: D-12345
                    delivery_status: created
                    fee: 42
                    currency: USD
                    tip: 42
                    order_value: 42
                    pickup_address: 901 Market St, San Francisco, CA 94105
                    pickup_business_name: Acme Pickup Store
                    pickup_phone_number: '+15555551234'
                    pickup_instructions: Leave at the front desk.
                    pickup_time_estimated: '2026-06-02T14:30:00Z'
                    pickup_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_address: 901 Market St, San Francisco, CA 94105
                    dropoff_business_name: Acme Pickup Store
                    dropoff_phone_number: '+15555551234'
                    dropoff_instructions: Leave at the front desk.
                    dropoff_time_estimated: '2026-06-02T14:30:00Z'
                    dropoff_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_contact_given_name: Acme Pickup Store
                    dropoff_contact_family_name: Acme Pickup Store
                    dasher_id: 42
                    dasher_name: Acme Pickup Store
                    dasher_phone_number: '+15555551234'
                    dasher_location:
                      lat: 37.422
                      lng: -122.084
                    tracking_url: https://example.com/path/abc123
                    contains_alcohol: true
                    force_batch_id: D-12345
                    created_at: '2026-06-02T14:30:00Z'
                    updated_at: '2026-06-02T14:30:00Z'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateDelivery400Example:
                  summary: Default createDelivery 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateDelivery401Example:
                  summary: Default createDelivery 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /deliveries/{external_delivery_id}:
    get:
      operationId: getDelivery
      summary: DoorDash Get Delivery Details
      description: >-
        Retrieves the current details and status of a delivery using the
        external delivery ID provided during creation.
      tags:
      - Deliveries
      parameters:
      - $ref: '#/components/parameters/ExternalDeliveryId'
      responses:
        '200':
          description: Delivery details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
              examples:
                GetDelivery200Example:
                  summary: Default getDelivery 200 response
                  x-microcks-default: true
                  value:
                    external_delivery_id: D-12345
                    delivery_status: created
                    fee: 42
                    currency: USD
                    tip: 42
                    order_value: 42
                    pickup_address: 901 Market St, San Francisco, CA 94105
                    pickup_business_name: Acme Pickup Store
                    pickup_phone_number: '+15555551234'
                    pickup_instructions: Leave at the front desk.
                    pickup_time_estimated: '2026-06-02T14:30:00Z'
                    pickup_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_address: 901 Market St, San Francisco, CA 94105
                    dropoff_business_name: Acme Pickup Store
                    dropoff_phone_number: '+15555551234'
                    dropoff_instructions: Leave at the front desk.
                    dropoff_time_estimated: '2026-06-02T14:30:00Z'
                    dropoff_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_contact_given_name: Acme Pickup Store
                    dropoff_contact_family_name: Acme Pickup Store
                    dasher_id: 42
                    dasher_name: Acme Pickup Store
                    dasher_phone_number: '+15555551234'
                    dasher_location:
                      lat: 37.422
                      lng: -122.084
                    tracking_url: https://example.com/path/abc123
                    contains_alcohol: true
                    force_batch_id: D-12345
                    created_at: '2026-06-02T14:30:00Z'
                    updated_at: '2026-06-02T14:30:00Z'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetDelivery401Example:
                  summary: Default getDelivery 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetDelivery404Example:
                  summary: Default getDelivery 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateDelivery
      summary: DoorDash Update a Delivery
      description: >-
        Updates specified attributes of an existing delivery. Not all fields
        can be updated after creation, and updates may be restricted based on
        the current delivery status.
      tags:
      - Deliveries
      parameters:
      - $ref: '#/components/parameters/ExternalDeliveryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryUpdateRequest'
            examples:
              UpdateDeliveryRequestExample:
                summary: Default updateDelivery request
                x-microcks-default: true
                value:
                  tip: 42
                  dropoff_instructions: Leave at the front desk.
                  dropoff_phone_number: '+15555551234'
      responses:
        '200':
          description: Delivery updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
              examples:
                UpdateDelivery200Example:
                  summary: Default updateDelivery 200 response
                  x-microcks-default: true
                  value:
                    external_delivery_id: D-12345
                    delivery_status: created
                    fee: 42
                    currency: USD
                    tip: 42
                    order_value: 42
                    pickup_address: 901 Market St, San Francisco, CA 94105
                    pickup_business_name: Acme Pickup Store
                    pickup_phone_number: '+15555551234'
                    pickup_instructions: Leave at the front desk.
                    pickup_time_estimated: '2026-06-02T14:30:00Z'
                    pickup_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_address: 901 Market St, San Francisco, CA 94105
                    dropoff_business_name: Acme Pickup Store
                    dropoff_phone_number: '+15555551234'
                    dropoff_instructions: Leave at the front desk.
                    dropoff_time_estimated: '2026-06-02T14:30:00Z'
                    dropoff_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_contact_given_name: Acme Pickup Store
                    dropoff_contact_family_name: Acme Pickup Store
                    dasher_id: 42
                    dasher_name: Acme Pickup Store
                    dasher_phone_number: '+15555551234'
                    dasher_location:
                      lat: 37.422
                      lng: -122.084
                    tracking_url: https://example.com/path/abc123
                    contains_alcohol: true
                    force_batch_id: D-12345
                    created_at: '2026-06-02T14:30:00Z'
                    updated_at: '2026-06-02T14:30:00Z'
        '400':
          description: Invalid update parameters or delivery state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateDelivery400Example:
                  summary: Default updateDelivery 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateDelivery401Example:
                  summary: Default updateDelivery 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateDelivery404Example:
                  summary: Default updateDelivery 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /deliveries/{external_delivery_id}/cancel:
    put:
      operationId: cancelDelivery
      summary: DoorDash Cancel a Delivery
      description: >-
        Cancels an active delivery. Deliveries cannot be cancelled after a
        Dasher has been assigned. Cancellation may incur fees depending on
        the delivery state.
      tags:
      - Deliveries
      parameters:
      - $ref: '#/components/parameters/ExternalDeliveryId'
      responses:
        '200':
          description: Delivery cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delivery'
              examples:
                CancelDelivery200Example:
                  summary: Default cancelDelivery 200 response
                  x-microcks-default: true
                  value:
                    external_delivery_id: D-12345
                    delivery_status: created
                    fee: 42
                    currency: USD
                    tip: 42
                    order_value: 42
                    pickup_address: 901 Market St, San Francisco, CA 94105
                    pickup_business_name: Acme Pickup Store
                    pickup_phone_number: '+15555551234'
                    pickup_instructions: Leave at the front desk.
                    pickup_time_estimated: '2026-06-02T14:30:00Z'
                    pickup_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_address: 901 Market St, San Francisco, CA 94105
                    dropoff_business_name: Acme Pickup Store
                    dropoff_phone_number: '+15555551234'
                    dropoff_instructions: Leave at the front desk.
                    dropoff_time_estimated: '2026-06-02T14:30:00Z'
                    dropoff_time_actual: '2026-06-02T14:30:00Z'
                    dropoff_contact_given_name: Acme Pickup Store
                    dropoff_contact_family_name: Acme Pickup Store
                    dasher_id: 42
                    dasher_name: Acme Pickup Store
                    dasher_phone_number: '+15555551234'
                    dasher_location:
                      lat: 37.422
                      lng: -122.084
                    tracking_url: https://example.com/path/abc123
                    contains_alcohol: true
                    force_batch_id: D-12345
                    created_at: '2026-06-02T14:30:00Z'
                    updated_at: '2026-06-02T14:30:00Z'
        '400':
          description: Delivery cannot be cancelled in current state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CancelDelivery400Example:
                  summary: Default cancelDelivery 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CancelDelivery401Example:
                  summary: Default cancelDelivery 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Delivery not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CancelDelivery404Example:
                  summary: Default cancelDelivery 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /businesses:
    get:
      operationId: listBusinesses
      summary: DoorDash List Businesses
      description: >-
        Lists all businesses owned by the authenticated developer account.
      tags:
      - Businesses
      responses:
        '200':
          description: List of businesses retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Business'
              examples:
                ListBusinesses200Example:
                  summary: Default listBusinesses 200 response
                  x-microcks-default: true
                  value:
                  - external_business_id: D-12345
                    name: Acme Pickup Store
                    description: Leave at the front desk.
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                ListBusinesses401Example:
                  summary: Default listBusinesses 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createBusiness
      summary: DoorDash Create a Business
      description: >-
        Creates a new Drive business entity representing a legal entity or
        owner on the DoorDash platform.
      tags:
      - Businesses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessRequest'
            examples:
              CreateBusinessRequestExample:
                summary: Default createBusiness request
                x-microcks-default: true
                value:
                  external_business_id: D-12345
                  name: Acme Pickup Store
                  description: Leave at the front desk.
      responses:
        '200':
          description: Business created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
              examples:
                CreateBusiness200Example:
                  summary: Default createBusiness 200 response
                  x-microcks-default: true
                  value:
                    external_business_id: D-12345
                    name: Acme Pickup Store
                    description: Leave at the front desk.
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateBusiness400Example:
                  summary: Default createBusiness 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateBusiness401Example:
                  summary: Default createBusiness 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /businesses/{external_business_id}:
    get:
      operationId: getBusiness
      summary: DoorDash Get Business Details
      description: >-
        Retrieves the details of a specific business by its external business ID.
      tags:
      - Businesses
      parameters:
      - $ref: '#/components/parameters/ExternalBusinessId'
      responses:
        '200':
          description: Business details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
              examples:
                GetBusiness200Example:
                  summary: Default getBusiness 200 response
                  x-microcks-default: true
                  value:
                    external_business_id: D-12345
                    name: Acme Pickup Store
                    description: Leave at the front desk.
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetBusiness401Example:
                  summary: Default getBusiness 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetBusiness404Example:
                  summary: Default getBusiness 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateBusiness
      summary: DoorDash Update a Business
      description: >-
        Updates the attributes of an existing business entity.
      tags:
      - Businesses
      parameters:
      - $ref: '#/components/parameters/ExternalBusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessRequest'
            examples:
              UpdateBusinessRequestExample:
                summary: Default updateBusiness request
                x-microcks-default: true
                value:
                  external_business_id: D-12345
                  name: Acme Pickup Store
                  description: Leave at the front desk.
      responses:
        '200':
          description: Business updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
              examples:
                UpdateBusiness200Example:
                  summary: Default updateBusiness 200 response
                  x-microcks-default: true
                  value:
                    external_business_id: D-12345
                    name: Acme Pickup Store
                    description: Leave at the front desk.
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateBusiness400Example:
                  summary: Default updateBusiness 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateBusiness401Example:
                  summary: Default updateBusiness 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateBusiness404Example:
                  summary: Default updateBusiness 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /businesses/{external_business_id}/stores:
    post:
      operationId: createStore
      summary: DoorDash Create a Store
      description: >-
        Creates a new store location associated with a business. Stores
        represent individual pickup points that make deliveries.
      tags:
      - Stores
      parameters:
      - $ref: '#/components/parameters/ExternalBusinessId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreRequest'
            examples:
              CreateStoreRequestExample:
                summary: Default createStore request
                x-microcks-default: true
                value:
                  external_store_id: D-12345
                  name: Acme Pickup Store
                  phone_number: '+15555551234'
                  address: 901 Market St, San Francisco, CA 94105
      responses:
        '200':
          description: Store created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
              examples:
                CreateStore200Example:
                  summary: Default createStore 200 response
                  x-microcks-default: true
                  value:
                    external_business_id: D-12345
                    external_store_id: D-12345
                    name: Acme Pickup Store
                    phone_number: '+15555551234'
                    address: 901 Market St, San Francisco, CA 94105
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateStore400Example:
                  summary: Default createStore 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateStore401Example:
                  summary: Default createStore 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                CreateStore404Example:
                  summary: Default createStore 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /businesses/{external_business_id}/stores/{external_store_id}:
    get:
      operationId: getStore
      summary: DoorDash Get Store Details
      description: >-
        Retrieves the details of a specific store by its external store ID
        within a given business.
      tags:
      - Stores
      parameters:
      - $ref: '#/components/parameters/ExternalBusinessId'
      - $ref: '#/components/parameters/ExternalStoreId'
      responses:
        '200':
          description: Store details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
              examples:
                GetStore200Example:
                  summary: Default getStore 200 response
                  x-microcks-default: true
                  value:
                    external_business_id: D-12345
                    external_store_id: D-12345
                    name: Acme Pickup Store
                    phone_number: '+15555551234'
                    address: 901 Market St, San Francisco, CA 94105
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetStore401Example:
                  summary: Default getStore 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Store or business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetStore404Example:
                  summary: Default getStore 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateStore
      summary: DoorDash Update a Store
      description: >-
        Updates the attributes of an existing store location.
      tags:
      - Stores
      parameters:
      - $ref: '#/components/parameters/ExternalBusinessId'
      - $ref: '#/components/parameters/ExternalStoreId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreRequest'
            examples:
              UpdateStoreRequestExample:
                summary: Default updateStore request
                x-microcks-default: true
                value:
                  external_store_id: D-12345
                  name: Acme Pickup Store
                  phone_number: '+15555551234'
                  address: 901 Market St, San Francisco, CA 94105
      responses:
        '200':
          description: Store updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
              examples:
                UpdateStore200Example:
                  summary: Default updateStore 200 response
                  x-microcks-default: true
                  value:
                    external_business_id: D-12345
                    external_store_id: D-12345
                    name: Acme Pickup Store
                    phone_number: '+15555551234'
                    address: 901 Market St, San Francisco, CA 94105
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateStore400Example:
                  summary: Default updateStore 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateStore401Example:
                  summary: Default updateStore 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '404':
          description: Store or business not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UpdateStore404Example:
                  summary: Default updateStore 404 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /addresses:
    get:
      operationId: getAddressSuggestions
      summary: DoorDash Get Address Suggestions
      description: >-
        Returns address auto-completion suggestions based on partial address
        input and optional location coordinates.
      tags:
      - Addresses
      parameters:
      - name: query
        in: query
        required: true
        description: >-
          Partial address string to get suggestions for.
        schema:
          type: string
        example: example
      - name: latitude
        in: query
        required: false
        description: >-
          Latitude coordinate to bias results toward a location.
        schema:
          type: number
          format: double
        example: 37.422
      - name: longitude
        in: query
        required: false
        description: >-
          Longitude coordinate to bias results toward a location.
        schema:
          type: number
          format: double
        example: -122.084
      responses:
        '200':
          description: Address suggestions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressSuggestion'
              examples:
                GetAddressSuggestions200Example:
                  summary: Default getAddressSuggestions 200 response
                  x-microcks-default: true
                  value:
                  - full_address: 901 Market St, San Francisco, CA 94105
                    street: example
                    city: San Francisco
                    state: CA
                    zip_code: '94105'
                    country: US
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                GetAddressSuggestions401Example:
                  summary: Default getAddressSuggestions 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /checkout_audit_signal:
    post:
      operationId: sendCheckoutAuditSignal
      summary: DoorDash Send Checkout Audit Signal
      description: >-
        Sends a checkout audit signal to DoorDash for tracking and analytics
        purposes related to the delivery checkout flow.
      tags:
      - Deliveries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutAuditSignal'
            examples:
              SendCheckoutAuditSignalRequestExample:
                summary: Default sendCheckoutAuditSignal request
                x-microcks-default: true
                value:
                  external_delivery_id: D-12345
                  event_type: example
      responses:
        '200':
          description: Checkout audit signal accepted
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                SendCheckoutAuditSignal400Example:
                  summary: Default sendCheckoutAuditSignal 400 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                SendCheckoutAuditSignal401Example:
                  summary: Default sendCheckoutAuditSignal 401 response
                  x-microcks-default: true
                  value:
                    field_errors:
                    - field: example
                      error: example
                    message: example
                    code: ABC123
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        JWT token signed with your DoorDash developer credentials. The token
        must include developer_id, key_id, and aud claims.
  parameters:
    ExternalDeliveryId:
      name: external_delivery_id
      in: path
      required: true
      description: >-
        The unique external delivery ID provided when creating the delivery
        or quote.
      schema:
        type: string
    ExternalBusinessId:
      name: external_business_id
      in: path
      required: true
      description: >-
        The unique external identifier for the business.
      schema:
        type: string
    ExternalStoreId:
      name: external_store_id
      in: path
      required: true
      description: >-
        The unique external identifier for the store.
      schema:
        type: string
  schemas:
    QuoteRequest:
      type: object
      required:
      - external_delivery_id
      - pickup_address
      - dropoff_address
      properties:
        external_delivery_id:
          type: string
          description: >-
            A unique identifier for this delivery, provided by the caller.
          example: D-12345
        pickup_address:
          type: string
          description: >-
            The full street address for the pickup location.
          example: 901 Market St, San Francisco, CA 94105
        pickup_business_name:
          type: string
          description: >-
            The business name at the pickup location.
          example: Acme Pickup Store
        pickup_phone_number:
          type: string
          description: >-
            The phone number at the pickup location.
          example: '+15555551234'
        dropoff_address:
          type: string
          description: >-
            The full street address for the dropoff location.
          example: 901 Market St, San Francisco, CA 94105
        dropoff_business_name:
          type: string
          description: >-
            The business name at the dropoff location.
          example: Acme Pickup Store
        dropoff_phone_number:
          type: string
          description: >-
            The phone number at the dropoff location.
          example: '+15555551234'
        order_value:
          type: integer
          description: >-
            The total value of the order in cents.
          example: 42
        pickup_time:
          type: string
          format: date-time
          description: >-
            The requested pickup time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        dropoff_time:
          type: string
          format: date-time
          description: >-
            The requested dropoff time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
    Quote:
      type: object
      properties:
        external_delivery_id:
          type: string
          description: >-
            The unique external delivery ID for this quote.
          example: D-12345
        fee:
          type: integer
          description: >-
            The delivery fee in cents.
          example: 42
        currency:
          type: string
          description: >-
            The currency code for the fee amount.
          example: USD
        delivery_time:
          type: string
          format: date-time
          description: >-
            The estimated delivery time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        pickup_time:
          type: string
          format: date-time
          description: >-
            The estimated pickup time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        expires_at:
          type: string
          format: date-time
          description: >-
            The time at which this quote expires, typically 5 minutes after
            creation.
          example: '2026-06-02T14:30:00Z'
    AcceptQuoteRequest:
      type: object
      properties:
        tip:
          type: integer
          description: >-
            Optional tip amount in cents to include with the delivery.
          example: 42
    DeliveryRequest:
      type: object
      required:
      - external_delivery_id
      - pickup_address
      - dropoff_address
      properties:
        external_delivery_id:
          type: string
          description: >-
            A unique identifier for this delivery, provided by the caller.
          example: D-12345
        pickup_address:
          type: string
          description: >-
            The full street address for the pickup location.
          example: 901 Market St, San Francisco, CA 94105
        pickup_business_name:
          type: string
          description: >-
            The business name at the pickup location.
          example: Acme Pickup Store
        pickup_phone_number:
          type: string
          description: >-
            The phone number at the pickup location.
          example: '+15555551234'
        pickup_instructions:
          type: string
          description: >-
            Special instructions for the Dasher at the pickup location.
          example: Leave at the front desk.
        pickup_reference_tag:
          type: string
          description: >-
            A reference tag for the pickup, such as an order number.
          example: example
        dropoff_address:
          type: string
          description: >-
            The full street address for the dropoff location.
          example: 901 Market St, San Francisco, CA 94105
        dropoff_business_name:
          type: string
          description: >-
            The business name at the dropoff location.
          example: Acme Pickup Store
        dropoff_phone_number:
          type: string
          description: >-
            The phone number of the recipient at the dropoff location.
          example: '+15555551234'
        dropoff_instructions:
          type: string
          description: >-
            Special instructions for the Dasher at the dropoff location.
          example: Leave at the front desk.
        dropoff_contact_given_name:
          type: string
          description: >-
            The first name of the dropoff contact.
          example: Acme Pickup Store
        dropoff_contact_family_name:
          type: string
          description: >-
            The last name of the dropoff contact.
          example: Acme Pickup Store
        order_value:
          type: integer
          description: >-
            The total value of the order in cents.
          example: 42
        tip:
          type: integer
          description: >-
            The tip amount in cents.
          example: 42
        pickup_time:
          type: string
          format: date-time
          description: >-
            The requested pickup time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        dropoff_time:
          type: string
          format: date-time
          description: >-
            The requested dropoff time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        contains_alcohol:
          type: boolean
          description: >-
            Whether the order contains alcohol, which requires age verification.
          example: true
        force_batch_id:
          type: string
          description: >-
            An identifier to group deliveries together for batch assignment
            to the same Dasher.
          example: D-12345
        external_business_id:
          type: string
          description: >-
            The external business ID to associate with this delivery.
          example: D-12345
        external_store_id:
          type: string
          description: >-
            The external store ID to associate with this delivery.
          example: D-12345
        items:
          type: array
          description: >-
            List of items included in the delivery.
          items:
            $ref: '#/components/schemas/DeliveryItem'
    DeliveryUpdateRequest:
      type: object
      properties:
        tip:
          type: integer
          description: >-
            Updated tip amount in cents.
          example: 42
        dropoff_instructions:
          type: string
          description: >-
            Updated dropoff instructions for the Dasher.
          example: Leave at the front desk.
        dropoff_phone_number:
          type: string
          description: >-
            Updated phone number for the dropoff contact.
          example: '+15555551234'
    Delivery:
      type: object
      properties:
        external_delivery_id:
          type: string
          description: >-
            The unique external delivery ID.
          example: D-12345
        delivery_status:
          type: string
          description: >-
            The current status of the delivery.
          enum:
          - created
          - confirmed
          - enroute_to_pickup
          - arrived_at_pickup
          - picked_up
          - enroute_to_dropoff
          - arrived_at_dropoff
          - delivered
          - cancelled
          - returned
          example: created
        fee:
          type: integer
          description: >-
            The delivery fee in cents.
          example: 42
        currency:
          type: string
          description: >-
            The currency code for monetary amounts.
          example: USD
        tip:
          type: integer
          description: >-
            The tip amount in cents.
          example: 42
        order_value:
          type: integer
          description: >-
            The total value of the order in cents.
          example: 42
        pickup_address:
          type: string
          description: >-
            The full street address for the pickup location.
          example: 901 Market St, San Francisco, CA 94105
        pickup_business_name:
          type: string
          description: >-
            The business name at the pickup location.
          example: Acme Pickup Store
        pickup_phone_number:
          type: string
          description: >-
            The phone number at the pickup location.
          example: '+15555551234'
        pickup_instructions:
          type: string
          description: >-
            Special instructions for pickup.
          example: Leave at the front desk.
        pickup_time_estimated:
          type: string
          format: date-time
          description: >-
            The estimated pickup time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        pickup_time_actual:
          type: string
          format: date-time
          description: >-
            The actual pickup time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        dropoff_address:
          type: string
          description: >-
            The full street address for the dropoff location.
          example: 901 Market St, San Francisco, CA 94105
        dropoff_business_name:
          type: string
          description: >-
            The business name at the dropoff location.
          example: Acme Pickup Store
        dropoff_phone_number:
          type: string
          description: >-
            The phone number at the dropoff location.
          example: '+15555551234'
        dropoff_instructions:
          type: string
          description: >-
            Special instructions for dropoff.
          example: Leave at the front desk.
        dropoff_time_estimated:
          type: string
          format: date-time
          description: >-
            The estimated dropoff time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        dropoff_time_actual:
          type: string
          format: date-time
          description: >-
            The actual dropoff time in UTC ISO-8601 format.
          example: '2026-06-02T14:30:00Z'
        dropoff_contact_given_name:
          type: string
          description: >-
            The first name of the dropoff contact.
          example: Acme Pickup Store
        dropoff_contact_family_name:
          type: string
          description: >-
            The last name of the dropoff contact.
          example: Acme Pickup Store
        dasher_id:
          type: integer
          description: >-
            The unique identifier for the assigned Dasher.
          example: 42
        dasher_name:
          type: string
          description: >-
            The first name of the assigned Dasher.
          example: Acme Pickup Store
        dasher_phone_number:
          type: string
          description: >-
            The phone number of the assigned Dasher.
          example: '+15555551234'
        dasher_location:
          $ref: '#/components/schemas/Location'
        tracking_url:
          type: string
          format: uri
          description: >-
            A URL for tracking the delivery in real time.
          example: https://example.com/path/abc123
        contains_alcohol:
          type: boolean
          description: >-
            Whether the order contains alcohol.
          example: true
        force_batch_id:
          type: string
          description: >-
            The batch identifier for grouped deliveries.
          example: D-12345
        created_at:
          type: string
          format: date-time
          description: >-
            The timestamp when the delivery was created.
          example: '2026-06-02T14:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: >-
            The timestamp when the delivery was last updated.
          example: '2026-06-02T14:30:00Z'
    DeliveryItem:
      type: object
      properties:
        name:
          type: string
          description: >-
            The name of the item.
          example: Acme Pickup Store
        description:
          type: string
          description: >-
            A description of the item.
          example: Leave at the front desk.
        quantity:
          type: integer
          description: >-
            The quantity of this item.
          minimum: 1
          example: 1
        external_id:
          type: string
          description: >-
            An external identifier for the item.
          example: D-12345
        price:
          type: integer
          description: >-
            The price of the item in cents.
          example: 42
    Location:
      type: object
      properties:
        lat:
          type: number
          format: double
          description: >-
            Latitude coordinate.
          example: 37.422
        lng:
          type: number
          format: double
          description: >-
            Longitude coordinate.
          example: -122.084
    Business:
      type: object
      properties:
        external_business_id:
          type: string
          description: >-
            The unique external identifier for the business.
          example: D-12345
        name:
          type: string
          description: >-
            The name of the business.
          example: Acme Pickup Store
        description:
          type: string
          description: >-
            A description of the business.
          example: Leave at the front desk.
    BusinessRequest:
      type: object
      required:
      - external_business_id
      - name
      properties:
        external_business_id:
          type: string
          description: >-
            A unique external identifier for the business.
          example: D-12345
        name:
          type: string
          description: >-
            The name of the business.
          example: Acme Pickup Store
        description:
          type: string
          description: >-
            A description of the business.
          example: Leave at the front desk.
    Store:
      type: object
      properties:
        external_business_id:
          type: string
          description: >-
            The external business ID this store belongs to.
          example: D-12345
        external_store_id:
          type: string
          description: >-
            The unique external identifier for the store.
          example: D-12345
        name:
          type: string
          description: >-
            The name of the store.
          example: Acme Pickup Store
        phone_number:
          type: string
          description: >-
            The phone number for the store.
          example: '+15555551234'
        address:
          type: string
          description: >-
            The full street address of the store.
          example: 901 Market St, San Francisco, CA 94105
    StoreRequest:
      type: object
      required:
      - external_store_id
      - name
      - address
      properties:
        external_store_id:
          type: string
          description: >-
            A unique external identifier for the store.
          example: D-12345
        name:
          type: string
          description: >-
            The name of the store.
          example: Acme Pickup Store
        phone_number:
          type: string
          description: >-
            The phone number for the store.
          example: '+15555551234'
        address:
          type: string
          description: >-
            The full street address of the store.
          example: 901 Market St, San Francisco, CA 94105
    AddressSuggestion:
      type: object
      properties:
        full_address:
          type: string
          description: >-
            The complete suggested address string.
          example: 901 Market St, San Francisco, CA 94105
        street:
          type: string
          description: >-
            The street portion of the address.
          example: example
        city:
          type: string
          description: >-
            The city name.
          example: San Francisco
        state:
          type: string
          description: >-
            The state or province.
          example: CA
        zip_code:
          type: string
          description: >-
            The postal or ZIP code.
          example: '94105'
        country:
          type: string
          description: >-
            The country code.
          example: US
    CheckoutAuditSignal:
      type: object
      properties:
        external_delivery_id:
          type: string
          description: >-
            The external delivery ID associated with this checkout event.
          example: D-12345
        event_type:
          type: string
          description: >-
            The type of checkout audit event.
          example: example
    Error:
      type: object
      properties:
        field_errors:
          type: array
          description: >-
            A list of field-level validation errors.
          items:
            type: object
            properties:
              field:
                type: string
                description: >-
                  The name of the field with the error.
              error:
                type: string
                description: >-
                  The error message for the field.
        message:
          type: string
          description: >-
            A human-readable error message.
          example: example
        code:
          type: string
          description: >-
            A machine-readable error code.
          example: ABC123
