openapi: 3.0.3
info:
  title: Reporting APIs
  version: 1.0.0
servers:
  - url: https://openapi.doordash.com
paths:
  dataexchange/v1/reports:
    post:
      operationId: createReport
      summary: Request Report
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - report_type
                - start_date
                - end_date
              properties:
                business_ids:
                  type: array
                  items:
                    type: integer
                  example:
                    - 123
                    - 456
                store_ids:
                  type: array
                  items:
                    type: integer
                  example:
                    - 123
                    - 456
                report_type:
                  type: string
                  enum:
                    - CONSUMER_FEEDBACK
                    - MENU_ITEM_ERROR
                    - MENU_OPEN_HOURS
                    - MENU_SPECIAL_HOURS
                    - ORDER_DETAIL
                    - PAYOUT_SUMMARY
                    - TRANSACTION_DETAIL
                    - TEMPORARY_DEACTIVATION
                    - AVOIDABLE_WAIT
                    - CANCELLED_ORDERS
                    - NV_PAYMENTS
                    - NV_TRANSACTIONS
                    - NV_ORDER_ITEMS
                  example: CONSUMER_FEEDBACK
                start_date:
                  type: string
                  pattern: ([0-9]{4})-(?:[0-9]{2})-([0-9]{2})
                  example: '2021-12-10'
                end_date:
                  type: string
                  pattern: ([0-9]{4})-(?:[0-9]{2})-([0-9]{2})
                  example: '2021-12-11'
                webhook_url:
                  type: string
                  pattern: >-
                    (https:\/\/.)[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)
                  example: https://yourdomain.com/callback
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - report_id
                properties:
                  report_id:
                    type: string
                    example: 3aae518c-0772-4842-9de8-14e0921c5c7d
                    format: uuid
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden - Invalid Business or Store ID
        '404':
          description: Data not found
        '429':
          description: Rate Limit Exceeded
        '500':
          description: Internal Server Error
  dataexchange/v1/reports/{report_id}/reportlink:
    get:
      operationId: getReportLink
      summary: Get Report Link
      parameters:
        - name: report_id
          in: path
          description: ID of report to return
          required: true
          example: 3aae518c-0772-4842-9de8-14e0921c5c7d
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - report_id
                properties:
                  report_id:
                    type: string
                    description: ID of report to return
                    example: 3aae518c-0772-4842-9de8-14e0921c5c7d
                    format: uuid
                  report_link:
                    type: string
                    description: Short living presigned URL of generated report
                    example: https://link.to.report
                  report_status:
                    type: string
                    enum:
                      - PENDING
                      - FAILED
                      - SUCCEEDED
                    example: SUCCEEDED
        '400':
          description: Bad Request
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
        '404':
          description: Data not found
        '429':
          description: Rate Limit Exceeded
        '500':
          description: Internal Server Error
      x-codegen-request-body-name: body
components: {}
